-- File Backup Database SiPangan (FoodTrack)
-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64) -- -- Host: localhost    Database: sipangan_db -- ------------------------------------------------------ -- Server version	8.0.30  /*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */; /*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */; /*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */; /*!50503 SET NAMES utf8mb4 */; /*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */; /*!40103 SET TIME_ZONE='+00:00' */; /*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */; /*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */; /*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */; /*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;  -- -- Table structure for table `admin` --  DROP TABLE IF EXISTS `admin`; /*!40101 SET @saved_cs_client     = @@character_set_client */; /*!50503 SET character_set_client = utf8mb4 */; CREATE TABLE `admin` (   `id_admin` int NOT NULL AUTO_INCREMENT,   `created_at` datetime(6) DEFAULT NULL,   `updated_at` datetime(6) DEFAULT NULL,   `email` varchar(100) DEFAULT NULL,   `password` varchar(255) NOT NULL,   `username` varchar(50) NOT NULL,   PRIMARY KEY (`id_admin`),   UNIQUE KEY `UK_gfn44sntic2k93auag97juyij` (`username`) ) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci; /*!40101 SET character_set_client = @saved_cs_client */;  -- -- Dumping data for table `admin` --  LOCK TABLES `admin` WRITE; /*!40000 ALTER TABLE `admin` DISABLE KEYS */; INSERT INTO `admin` VALUES (1,'2026-05-02 19:19:37.380026','2026-05-02 19:19:37.380026','admin@foodtrack.id','$2a$10$.ZdJxmcAVI5ylzdu/VNcl.2RluT/oppRx6IfcmeS9GkD3T64rBu7C','admin'); /*!40000 ALTER TABLE `admin` ENABLE KEYS */; UNLOCK TABLES;  -- -- Table structure for table `chatbot_log` --  DROP TABLE IF EXISTS `chatbot_log`; /*!40101 SET @saved_cs_client     = @@character_set_client */; /*!50503 SET character_set_client = utf8mb4 */; CREATE TABLE `chatbot_log` (   `id_log` int NOT NULL AUTO_INCREMENT,   `created_at` datetime(6) DEFAULT NULL,   `updated_at` datetime(6) DEFAULT NULL,   `gemini_response` text,   `timestamp` datetime(6) NOT NULL,   `user_prompt` text NOT NULL,   `id_petani` int NOT NULL,   PRIMARY KEY (`id_log`),   KEY `FKmqhfvcqileko64a7qxhiursbj` (`id_petani`),   CONSTRAINT `FKmqhfvcqileko64a7qxhiursbj` FOREIGN KEY (`id_petani`) REFERENCES `petani` (`id_petani`) ) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci; /*!40101 SET character_set_client = @saved_cs_client */;  -- -- Dumping data for table `chatbot_log` --  LOCK TABLES `chatbot_log` WRITE; /*!40000 ALTER TABLE `chatbot_log` DISABLE KEYS */; INSERT INTO `chatbot_log` VALUES (8,'2026-05-14 19:33:39.556264','2026-05-14 19:33:39.556264','Maaf, asisten AI sedang mengoptimalkan jawaban. Sebagai saran ahli FoodTrack: Sebagai mitra digital Anda, FoodTrack menyarankan untuk selalu menjaga kualitas hasil panen dan kebersihan lahan. Pertanian yang cerdas dimulai dari pencatatan data yang baik di aplikasi ini. Ada hal spesifik lain yang ingin Anda konsultasikan?','2026-05-14 19:33:39.479232','Halo',1),(9,'2026-05-14 19:50:45.514033','2026-05-14 19:50:45.514033','Halo! Selamat datang di FoodTrack. Apa yang bisa saya bantu hari ini?','2026-05-14 19:50:45.507786','Halo',1),(10,'2026-05-14 19:51:20.202255','2026-05-14 19:51:20.202255','Halo! Selamat datang di FoodTrack. Cabai umumnya tumbuh dengan baik di dataran rendah hingga sedang, dengan suhu antara 20-30 derajat Celsius. Mereka memerlukan tanah yang cukup lembap dan subur, serta sinar matahari yang cukup. Apakah ada hal lain yang ingin Anda tanyakan tentang budidaya cabai?','2026-05-14 19:51:20.197544','Cabai tumbuh di dataran apa?',1); /*!40000 ALTER TABLE `chatbot_log` ENABLE KEYS */; UNLOCK TABLES;  -- -- Table structure for table `distribusi` --  DROP TABLE IF EXISTS `distribusi`; /*!40101 SET @saved_cs_client     = @@character_set_client */; /*!50503 SET character_set_client = utf8mb4 */; CREATE TABLE `distribusi` (   `id_distribusi` int NOT NULL AUTO_INCREMENT,   `created_at` datetime(6) DEFAULT NULL,   `updated_at` datetime(6) DEFAULT NULL,   `status_pengiriman` varchar(20) DEFAULT NULL,   `tanggal_kirim` date DEFAULT NULL,   `tujuan` varchar(200) NOT NULL,   `id_stok` int NOT NULL,   PRIMARY KEY (`id_distribusi`),   KEY `FK6lnp896nv1gu4kbga9086evn1` (`id_stok`),   CONSTRAINT `FK6lnp896nv1gu4kbga9086evn1` FOREIGN KEY (`id_stok`) REFERENCES `stok_pangan` (`id_stok`) ) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci; /*!40101 SET character_set_client = @saved_cs_client */;  -- -- Dumping data for table `distribusi` --  LOCK TABLES `distribusi` WRITE; /*!40000 ALTER TABLE `distribusi` DISABLE KEYS */; INSERT INTO `distribusi` VALUES (7,'2026-05-03 21:28:03.924294','2026-05-09 11:21:53.321076','Selesai','2026-05-03','Pasar Kordon',11),(9,'2026-05-03 21:38:14.803094','2026-05-03 21:53:59.593817','Selesai','2026-05-02','Gudang Kelurahan Rancasari',13),(10,'2026-05-03 21:38:37.103115','2026-05-03 21:38:37.103115','Selesai','2026-05-03','Gudang Kelurahan Rancasari',12),(11,'2026-05-03 21:39:10.174852','2026-05-03 21:39:10.174852','Menunggu','2026-05-01','Gudang Kecamatan Gedebage',18); /*!40000 ALTER TABLE `distribusi` ENABLE KEYS */; UNLOCK TABLES;  -- -- Table structure for table `harga_komoditas` --  DROP TABLE IF EXISTS `harga_komoditas`; /*!40101 SET @saved_cs_client     = @@character_set_client */; /*!50503 SET character_set_client = utf8mb4 */; CREATE TABLE `harga_komoditas` (   `id_harga` int NOT NULL AUTO_INCREMENT,   `created_at` datetime(6) DEFAULT NULL,   `updated_at` datetime(6) DEFAULT NULL,   `harga` decimal(15,2) NOT NULL,   `id_komoditas` int NOT NULL,   `id_satuan` int NOT NULL,   PRIMARY KEY (`id_harga`),   KEY `FKs6nvsfrvmymrrvuylqbii05a` (`id_komoditas`),   KEY `FKdv6isnt9uf1s7aja6lqqwgvxe` (`id_satuan`),   CONSTRAINT `FKdv6isnt9uf1s7aja6lqqwgvxe` FOREIGN KEY (`id_satuan`) REFERENCES `satuan` (`id_satuan`),   CONSTRAINT `FKs6nvsfrvmymrrvuylqbii05a` FOREIGN KEY (`id_komoditas`) REFERENCES `komoditas` (`id_komoditas`) ) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci; /*!40101 SET character_set_client = @saved_cs_client */;  -- -- Dumping data for table `harga_komoditas` --  LOCK TABLES `harga_komoditas` WRITE; /*!40000 ALTER TABLE `harga_komoditas` DISABLE KEYS */; INSERT INTO `harga_komoditas` VALUES (23,'2026-05-03 21:00:16.844815','2026-05-03 21:00:16.844815',200000.00,33,30),(24,'2026-05-03 21:22:13.139149','2026-05-03 21:22:13.139149',16000.00,34,31),(25,'2026-05-03 21:22:13.145165','2026-05-03 21:22:13.145165',90000.00,34,32),(26,'2026-05-03 21:27:16.054316','2026-05-03 21:27:16.054316',40000.00,35,33); /*!40000 ALTER TABLE `harga_komoditas` ENABLE KEYS */; UNLOCK TABLES;  -- -- Table structure for table `komoditas` --  DROP TABLE IF EXISTS `komoditas`; /*!40101 SET @saved_cs_client     = @@character_set_client */; /*!50503 SET character_set_client = utf8mb4 */; CREATE TABLE `komoditas` (   `id_komoditas` int NOT NULL AUTO_INCREMENT,   `created_at` datetime(6) DEFAULT NULL,   `updated_at` datetime(6) DEFAULT NULL,   `nama_komoditas` varchar(100) NOT NULL,   `satuan` varchar(20) NOT NULL,   `id_satuan` int DEFAULT NULL,   PRIMARY KEY (`id_komoditas`),   KEY `FKrqp7lodj1rs7rhomxrmsym418` (`id_satuan`),   CONSTRAINT `FKrqp7lodj1rs7rhomxrmsym418` FOREIGN KEY (`id_satuan`) REFERENCES `satuan` (`id_satuan`) ) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci; /*!40101 SET character_set_client = @saved_cs_client */;  -- -- Dumping data for table `komoditas` --  LOCK TABLES `komoditas` WRITE; /*!40000 ALTER TABLE `komoditas` DISABLE KEYS */; INSERT INTO `komoditas` VALUES (33,'2026-05-03 21:00:16.837032','2026-05-03 21:00:16.837032','Jagung','Karung',NULL),(34,'2026-05-03 21:22:13.122056','2026-05-03 21:22:13.122056','Beras','Kg',NULL),(35,'2026-05-03 21:27:16.044054','2026-05-03 21:27:16.044054','Minyak Goreng','Liter',NULL); /*!40000 ALTER TABLE `komoditas` ENABLE KEYS */; UNLOCK TABLES;  -- -- Table structure for table `konversi_satuan` --  DROP TABLE IF EXISTS `konversi_satuan`; /*!40101 SET @saved_cs_client     = @@character_set_client */; /*!50503 SET character_set_client = utf8mb4 */; CREATE TABLE `konversi_satuan` (   `id_konversi` int NOT NULL AUTO_INCREMENT,   `created_at` datetime(6) DEFAULT NULL,   `updated_at` datetime(6) DEFAULT NULL,   `nilai_konversi` decimal(15,4) NOT NULL,   `id_komoditas` int NOT NULL,   `id_satuan_dari` int NOT NULL,   `id_satuan_ke` int NOT NULL,   `konversi_ke_base` decimal(15,4) DEFAULT NULL,   PRIMARY KEY (`id_konversi`),   KEY `FKfwo11k4ub3072chh3250xu8tp` (`id_komoditas`),   KEY `FK53m9jen3l657431abfvq7fek4` (`id_satuan_dari`),   KEY `FKtoe3t44qjk3rrh84gn26cy9vu` (`id_satuan_ke`),   CONSTRAINT `FK53m9jen3l657431abfvq7fek4` FOREIGN KEY (`id_satuan_dari`) REFERENCES `satuan` (`id_satuan`),   CONSTRAINT `FKfwo11k4ub3072chh3250xu8tp` FOREIGN KEY (`id_komoditas`) REFERENCES `komoditas` (`id_komoditas`),   CONSTRAINT `FKtoe3t44qjk3rrh84gn26cy9vu` FOREIGN KEY (`id_satuan_ke`) REFERENCES `satuan` (`id_satuan`) ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci; /*!40101 SET character_set_client = @saved_cs_client */;  -- -- Dumping data for table `konversi_satuan` --  LOCK TABLES `konversi_satuan` WRITE; /*!40000 ALTER TABLE `konversi_satuan` DISABLE KEYS */; /*!40000 ALTER TABLE `konversi_satuan` ENABLE KEYS */; UNLOCK TABLES;  -- -- Table structure for table `master_satuan` --  DROP TABLE IF EXISTS `master_satuan`; /*!40101 SET @saved_cs_client     = @@character_set_client */; /*!50503 SET character_set_client = utf8mb4 */; CREATE TABLE `master_satuan` (   `id_satuan` int NOT NULL AUTO_INCREMENT,   `created_at` datetime(6) DEFAULT NULL,   `updated_at` datetime(6) DEFAULT NULL,   `keterangan` varchar(100) DEFAULT NULL,   `nama_satuan` varchar(50) NOT NULL,   PRIMARY KEY (`id_satuan`),   UNIQUE KEY `UK_7ds2sirk1ikr1hfd5r0l643xa` (`nama_satuan`) ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci; /*!40101 SET character_set_client = @saved_cs_client */;  -- -- Dumping data for table `master_satuan` --  LOCK TABLES `master_satuan` WRITE; /*!40000 ALTER TABLE `master_satuan` DISABLE KEYS */; /*!40000 ALTER TABLE `master_satuan` ENABLE KEYS */; UNLOCK TABLES;  -- -- Table structure for table `notification` --  DROP TABLE IF EXISTS `notification`; /*!40101 SET @saved_cs_client     = @@character_set_client */; /*!50503 SET character_set_client = utf8mb4 */; CREATE TABLE `notification` (   `id` bigint NOT NULL AUTO_INCREMENT,   `created_at` datetime(6) DEFAULT NULL,   `updated_at` datetime(6) DEFAULT NULL,   `category` varchar(255) DEFAULT NULL,   `icon` varchar(255) DEFAULT NULL,   `is_read` bit(1) NOT NULL,   `message` varchar(255) DEFAULT NULL,   `target_id` int DEFAULT NULL,   `target_role` varchar(255) DEFAULT NULL,   `type` varchar(255) DEFAULT NULL,   PRIMARY KEY (`id`) ) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci; /*!40101 SET character_set_client = @saved_cs_client */;  -- -- Dumping data for table `notification` --  LOCK TABLES `notification` WRITE; /*!40000 ALTER TABLE `notification` DISABLE KEYS */; INSERT INTO `notification` VALUES (1,'2026-05-02 19:40:29.012530','2026-05-02 20:14:25.226993','KOMODITAS','agriculture',_binary '','Komoditas baru \'Kacang Tanah\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(2,'2026-05-02 20:38:45.146173','2026-05-03 21:39:38.958802','PETANI','group',_binary '','Petani baru \'Ahmad R\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(3,'2026-05-02 21:30:48.384856','2026-05-03 14:45:12.674020','STOK','eco',_binary '','Petani Lify N.A mencatat panen 100 Kg Beras',1,'ROLE_PETANI','success'),(4,'2026-05-02 21:33:43.627577','2026-05-03 21:39:39.270671','KOMODITAS','agriculture',_binary '','Komoditas baru \'Beras\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(5,'2026-05-02 21:36:25.107347','2026-05-03 21:39:39.568189','KOMODITAS','agriculture',_binary '','Komoditas \'Beras\' diperbarui.',NULL,'ROLE_ADMIN','success'),(6,'2026-05-02 21:37:19.382371','2026-05-03 21:39:39.837217','KOMODITAS','agriculture',_binary '','Komoditas baru \'Kacang Mede\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(7,'2026-05-02 21:37:53.899467','2026-05-03 21:39:40.718076','KOMODITAS','agriculture',_binary '','Komoditas \'Beras\' diperbarui.',NULL,'ROLE_ADMIN','success'),(8,'2026-05-02 21:42:09.017129','2026-05-03 21:39:41.109554','KOMODITAS','agriculture',_binary '','Komoditas baru \'Jagung\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(9,'2026-05-02 21:47:03.402877','2026-05-03 14:45:20.188052','STOK','inventory_2',_binary '','Stok baru: 200 Kg Jagung dari Lify N.A',1,'ROLE_PETANI','info'),(10,'2026-05-02 21:47:15.743857','2026-05-03 14:45:12.723545','STOK','inventory_2',_binary '','Stok baru: 21 Kg Jagung dari Lify N.A',1,'ROLE_PETANI','info'),(11,'2026-05-02 21:47:24.163759','2026-05-03 14:45:16.829444','STOK','inventory_2',_binary '','Stok baru: 21 Kg Jagung dari Lify N.A',1,'ROLE_PETANI','info'),(12,'2026-05-02 21:47:46.385961','2026-05-03 14:45:12.731600','DISTRIBUSI','local_shipping',_binary '','Distribusi Jagung ke Kecamatan Ujung Berung telah dicatat.',1,'ROLE_PETANI','info'),(13,'2026-05-02 21:48:00.679052','2026-05-03 14:45:12.740102','DISTRIBUSI','local_shipping',_binary '','Distribusi Jagung ke Kecamatan Ujung Berung telah dicatat.',1,'ROLE_PETANI','info'),(14,'2026-05-02 21:49:53.403297','2026-05-03 21:39:42.927828','PETANI','group',_binary '','Data petani \'Ahmad R\' diperbarui.',NULL,'ROLE_ADMIN','success'),(15,'2026-05-02 21:52:53.817889','2026-05-03 21:39:44.247554','PETANI','group',_binary '','Data petani \'Ahmad R\' diperbarui.',NULL,'ROLE_ADMIN','success'),(16,'2026-05-03 14:40:09.726251','2026-05-03 21:39:43.150794','PETANI','group',_binary '','Data petani \'Lify N.A\' diperbarui.',NULL,'ROLE_ADMIN','success'),(17,'2026-05-03 15:12:21.762144','2026-05-03 21:39:43.415440','KOMODITAS','agriculture',_binary '','Komoditas baru \'Minyak Goreng\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(18,'2026-05-03 15:57:28.488854','2026-05-03 17:05:02.910108','KOMODITAS','agriculture',_binary '','Komoditas baru \'Jagung\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(19,'2026-05-03 19:06:13.512411','2026-05-03 20:45:37.663428','KOMODITAS','agriculture',_binary '','Komoditas baru \'Kacang Mede\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(20,'2026-05-03 19:08:21.330670','2026-05-03 21:39:34.501802','KOMODITAS','agriculture',_binary '','Komoditas baru \'Beras\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(21,'2026-05-03 19:08:38.737842','2026-05-03 21:39:34.247177','KOMODITAS','agriculture',_binary '','Komoditas baru \'Mede\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(22,'2026-05-03 19:08:50.694987','2026-05-03 20:45:35.608744','KOMODITAS','agriculture',_binary '','Komoditas baru \'Padi\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(23,'2026-05-03 19:26:10.501761','2026-05-03 20:45:36.528641','KOMODITAS','agriculture',_binary '','Komoditas baru \'Padi\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(24,'2026-05-03 19:28:46.622907','2026-05-03 20:45:34.821045','KOMODITAS','agriculture',_binary '','Komoditas \'Padi\' diperbarui.',NULL,'ROLE_ADMIN','success'),(25,'2026-05-03 19:30:39.167997','2026-05-03 21:39:29.278868','KOMODITAS','agriculture',_binary '','Komoditas baru \'Kacang\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(26,'2026-05-03 19:30:56.868937','2026-05-03 21:39:28.997957','KOMODITAS','agriculture',_binary '','Komoditas baru \'Beras\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(27,'2026-05-03 19:52:08.802535','2026-05-03 21:39:29.685117','KOMODITAS','agriculture',_binary '','Komoditas \'Kacang\' diperbarui.',NULL,'ROLE_ADMIN','success'),(28,'2026-05-03 19:59:12.057139','2026-05-03 20:45:33.928601','KOMODITAS','agriculture',_binary '','Komoditas \'Kacang\' diperbarui.',NULL,'ROLE_ADMIN','success'),(29,'2026-05-03 20:28:11.310619','2026-05-03 20:45:33.447648','KOMODITAS','agriculture',_binary '','Komoditas \'Kacang\' diperbarui.',NULL,'ROLE_ADMIN','success'),(30,'2026-05-03 20:28:22.567725','2026-05-03 21:39:30.712141','KOMODITAS','agriculture',_binary '','Komoditas \'Kacang\' diperbarui.',NULL,'ROLE_ADMIN','success'),(31,'2026-05-03 20:31:11.441903','2026-05-03 20:45:32.024441','KOMODITAS','agriculture',_binary '','Komoditas baru \'Beras\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(32,'2026-05-03 20:31:19.958923','2026-05-03 20:45:31.305407','KOMODITAS','agriculture',_binary '','Komoditas \'Beras\' diperbarui.',NULL,'ROLE_ADMIN','success'),(33,'2026-05-03 20:34:07.525764','2026-05-03 20:45:32.351138','KOMODITAS','agriculture',_binary '','Komoditas baru \'Jagung\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(34,'2026-05-03 20:34:19.178914','2026-05-03 20:34:19.179913','KOMODITAS','agriculture',_binary '\0','Komoditas \'Jagung\' diperbarui.',NULL,'ROLE_ADMIN','success'),(35,'2026-05-03 20:39:41.384601','2026-05-03 20:45:30.593871','KOMODITAS','agriculture',_binary '','Komoditas baru \'Jagung\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(36,'2026-05-03 20:40:04.539526','2026-05-03 20:45:29.857154','KOMODITAS','agriculture',_binary '','Komoditas \'Jagung\' diperbarui.',NULL,'ROLE_ADMIN','success'),(37,'2026-05-03 20:44:35.647710','2026-05-03 20:45:29.408350','PETANI','group',_binary '','Data petani \'El \' diperbarui.',NULL,'ROLE_ADMIN','success'),(38,'2026-05-03 20:45:11.460261','2026-05-03 20:45:29.010831','PETANI','group',_binary '','Petani baru \'Salma\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(39,'2026-05-03 20:57:58.120055','2026-05-03 21:39:26.358858','KOMODITAS','agriculture',_binary '','Komoditas baru \'Beras\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(40,'2026-05-03 20:58:26.734001','2026-05-03 21:39:26.813823','KOMODITAS','agriculture',_binary '','Komoditas \'Beras\' diperbarui.',NULL,'ROLE_ADMIN','success'),(41,'2026-05-03 20:58:56.098924','2026-05-03 21:39:25.150213','KOMODITAS','agriculture',_binary '','Komoditas baru \'Minyak Goreng\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(42,'2026-05-03 20:59:13.444968','2026-05-03 21:39:26.030069','KOMODITAS','agriculture',_binary '','Komoditas baru \'Gula Pasir\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(43,'2026-05-03 21:00:16.849988','2026-05-03 21:39:25.404562','KOMODITAS','agriculture',_binary '','Komoditas baru \'Jagung\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(44,'2026-05-03 21:08:11.342145','2026-05-03 21:39:23.310024','STOK','inventory_2',_binary '','Stok baru: 200 Kg Beras dari Lify N.A',1,'ROLE_PETANI','info'),(45,'2026-05-03 21:22:13.151499','2026-05-03 21:39:24.038439','KOMODITAS','agriculture',_binary '','Komoditas baru \'Beras\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(46,'2026-05-03 21:27:16.059885','2026-05-03 21:39:23.590993','KOMODITAS','agriculture',_binary '','Komoditas baru \'Minyak Goreng\' telah ditambahkan.',NULL,'ROLE_ADMIN','success'),(47,'2026-05-03 21:27:37.218613','2026-05-03 21:27:37.218613','STOK','inventory_2',_binary '\0','Stok baru: 2 Karung Jagung dari Salma',7,'ROLE_PETANI','info'),(48,'2026-05-03 21:28:03.936843','2026-05-03 21:39:21.831341','DISTRIBUSI','local_shipping',_binary '','Distribusi Jagung ke Pasar Kordon telah dicatat.',7,'ROLE_PETANI','info'),(49,'2026-05-03 21:29:08.151623','2026-05-03 21:39:22.159178','STOK','eco',_binary '','Petani Lify N.A mencatat panen 200 Karung Jagung',1,'ROLE_PETANI','success'),(50,'2026-05-03 21:29:52.834645','2026-05-03 21:39:21.007198','STOK','eco',_binary '','Petani Ahmad R mencatat panen 300 Kg Beras',2,'ROLE_PETANI','success'),(51,'2026-05-03 21:30:09.673094','2026-05-03 21:39:19.543553','STOK','eco',_binary '','Petani Ahmad R mencatat panen 3 Karung Beras',2,'ROLE_PETANI','success'),(52,'2026-05-03 21:32:19.199819','2026-05-03 21:39:19.878489','STOK','eco',_binary '','Petani Ahmad R mencatat panen 400 Karung Jagung',2,'ROLE_PETANI','success'),(53,'2026-05-03 21:32:40.660124','2026-05-03 21:39:20.245644','STOK','inventory_2',_binary '','Stok baru: 200 Kg Beras dari Lify N.A',1,'ROLE_PETANI','info'),(54,'2026-05-03 21:35:16.487137','2026-05-03 21:39:49.853781','STOK','inventory_2',_binary '','Stok baru: 3 Liter Minyak Goreng dari Ahmad R',2,'ROLE_PETANI','info'),(55,'2026-05-03 21:36:25.584562','2026-05-03 21:39:18.383148','STOK','inventory_2',_binary '','Stok baru: 250 Karung Jagung dari El ',6,'ROLE_PETANI','info'),(56,'2026-05-03 21:37:57.314185','2026-05-03 21:39:18.661983','DISTRIBUSI','local_shipping',_binary '','Distribusi Beras ke Gudang Kelurahan Rancasari telah dicatat.',2,'ROLE_PETANI','info'),(57,'2026-05-03 21:38:14.810380','2026-05-03 21:39:17.413571','DISTRIBUSI','local_shipping',_binary '','Distribusi Beras ke Gudang Kelurahan Rancasari telah dicatat.',2,'ROLE_PETANI','info'),(58,'2026-05-03 21:38:37.109849','2026-05-03 21:39:17.125779','DISTRIBUSI','local_shipping',_binary '','Distribusi Jagung ke Gudang Kelurahan Rancasari telah dicatat.',1,'ROLE_PETANI','info'),(59,'2026-05-03 21:39:10.180927','2026-05-03 21:39:16.394762','DISTRIBUSI','local_shipping',_binary '','Distribusi Jagung ke Gudang Kecamatan Gedebage telah dicatat.',6,'ROLE_PETANI','info'),(60,'2026-05-03 21:40:55.150933','2026-05-03 21:40:55.150933','STOK','eco',_binary '\0','Petani Ahmad R mencatat panen 10 Liter Minyak Goreng',2,'ROLE_PETANI','success'),(61,'2026-05-03 21:47:58.366739','2026-05-03 21:54:26.702177','STOK','eco',_binary '','Petani Lify N.A mencatat panen 20 Liter Minyak Goreng',1,'ROLE_PETANI','success'),(62,'2026-05-03 21:49:14.782162','2026-05-03 21:54:26.279867','STOK','eco',_binary '','Petani Lify N.A mencatat panen 200 Karung Jagung',1,'ROLE_PETANI','success'),(63,'2026-05-09 10:20:20.539782','2026-05-09 11:36:18.342740','PETANI','group',_binary '','Data petani \'Salma\' diperbarui.',NULL,'ROLE_ADMIN','success'); /*!40000 ALTER TABLE `notification` ENABLE KEYS */; UNLOCK TABLES;  -- -- Table structure for table `petani` --  DROP TABLE IF EXISTS `petani`; /*!40101 SET @saved_cs_client     = @@character_set_client */; /*!50503 SET character_set_client = utf8mb4 */; CREATE TABLE `petani` (   `id_petani` int NOT NULL AUTO_INCREMENT,   `created_at` datetime(6) DEFAULT NULL,   `updated_at` datetime(6) DEFAULT NULL,   `foto_profile` longtext,   `kelompok_tani` varchar(100) DEFAULT NULL,   `kontak` varchar(20) NOT NULL,   `nama` varchar(100) NOT NULL,   `password` varchar(255) DEFAULT NULL,   `username` varchar(50) DEFAULT NULL,   PRIMARY KEY (`id_petani`),   UNIQUE KEY `UK_g7k54m6nbftw5ndxp872h6xus` (`username`) ) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci; /*!40101 SET character_set_client = @saved_cs_client */;  -- -- Dumping data for table `petani` --  LOCK TABLES `petani` WRITE; /*!40000 ALTER TABLE `petani` DISABLE KEYS */; INSERT INTO `petani` VALUES (1,'2026-05-02 19:39:12.931135','2026-05-03 21:47:42.005600','data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/4gHYSUNDX1BST0ZJTEUAAQEAAAHIAAAAAAQwAABtbnRyUkdCIFhZWiAH4AABAAEAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAACRyWFlaAAABFAAAABRnWFlaAAABKAAAABRiWFlaAAABPAAAABR3dHB0AAABUAAAABRyVFJDAAABZAAAAChnVFJDAAABZAAAAChiVFJDAAABZAAAAChjcHJ0AAABjAAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgAAAAcAHMAUgBHAEJYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9YWVogAAAAAAAA9tYAAQAAAADTLXBhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACAAAAAcAEcAbwBvAGcAbABlACAASQBuAGMALgAgADIAMAAxADb/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAGQAZADASIAAhEBAxEB/8QAHAAAAgIDAQEAAAAAAAAAAAAABAUDBgECBwAI/8QAQxAAAgEDAgQEAwYEBQMDAwUAAQIDAAQRBSESMUFRBhMiYTJxgQcUI0KRsVKhwdEVJDNichZD4TWC8Qhj8CVEkqLS/8QAGgEAAgMBAQAAAAAAAAAAAAAAAgMAAQQFBv/EACgRAAMAAgICAgIDAAMBAQAAAAABAgMRBCESMRNBBVEiMmEUI3GBM//aAAwDAQACEQMRAD8AqF5oflzEJjh55zUH+EMOx+tWzUIi68aKOEb5B6Uury+PM6R6isaTEbaZIBsoAHXNQCHgOTy6e9WPtmhr2FXj4woDDr7UXyN+wfAWL7bURDggcJ364qFlO2dqOtbbCli4KkchQNkSA5VVwVwue+OtACLgcE/CWwQasC2kYwcE/WhLuEPJKgGzBcY6Gii9FVBTPGVs2nxL5IYLLvk/l9hWn2e6oLS9Sznci1uBwgHkJOn6088e2zXGj2zDJdXGR8xVbttKP3XGSkg9SEdCOVdvBk88SbOVlwtZWpOuRLtjGCKmwQOeKT+GLuW90uCWfIm+B89xsadEek7/AFqVX0ypj9HkfgYEYyKNil4YY9xliaX4zRrKGtoG7OQaFtMNKkNII+IDPImtpY1znkelZst0h9961lPEyEnbHallkRXBJPbrQzRlpgVAG3Ojkj4zxMfTWGjA3WoWqNFlZMoRkjfFZNxIykE8IPapZIeK7XOwwc/yot7RTuBgEVTei00b6UGZeA79BTcR8GeW9LrP8EAAZ360XLciWGQfCwB9QNKp7KfsktE81AMY9QBrzoDbu3VWwf1IqbSh6IySd2ByflUdgwls74g8pD+5qkC2CsFwQE4j77gGoEtpJZDx7nPOm1mq8JJHM4qZFVePlxc/pU8tAtbFj2GysOVGBeGwiPZ84oi4IS1yex+XOo0jB06M/Wg8ihXL+HbMx2Zts1TdeuPMmaENiMc/71ZteuRFFhcZA2Fcw8Z6n9z010U4muPQvsvU1qwT5MXkrxXRSfFWonUNTbySTFH+GgHauj/ZfoAW5gWVMiJRNMT/ABHkP5fyrnvhLT/vupedIpMMHqPuegr6M8K6QdL0xVlAFzL+LL8yNh9BgfrWjkZPGdIDFI+gyQSds8qggI804+EN+pqaMk8QHxEb+wqCP1GTh+EczXK+zUMbHLZOThsjnSnxaoa1sLgc0fBpta/hwQn/AHrQfi5Auj8WcYlB/nUh6yIF/wBRG4AJ7VoOYqWQeomohWwUeoKTTLeS4eV8ni3K8hR2MmsYBPCMVZT0YwFBAGwGwFRMBw7Hp/SpJHAUjltUEr8TBQPpQVS0A2jZGb7vsd+lR6PbRxxtId2Y7nualgGFIPPvU1koFjEQBuaJJqeySbqOI4FbcPD71tCMOpwN6wdzvUDMY61saxncnn/SvHpUIZBIxisddzvXs+mtc7Z61RZQbWc/iRztg9MjFZNpE8WYRv0JNDm7t7uMHCk4yHRgajjaWP8A0nyo7HIrk5OO5e4O3h5Cuf5ozJayopLBcfOocDGOlEG6kZcSIp+lYE23wKPpQ/yXsb/F+gUwq4xw/oK2jgEY5Yz1NStMx67VGSTzq1tk6R4neoggMhZqkJqueKtfj02AwwsGu5BgDPwjuafjwvI9IRkyzjW2QeIdTgmmFsuWERBLA7Z7UuN2mAEBY9uVKNPDSLlieJiST3pssAUJ3yBXajDOOVKOX89U2y3eDhwWThmy7PxkdBmrK3wnHUZqs6IRCnbKCrHbvxp3x+xpdrsKTSI8Uatzo+1/EtpI/wAykOP60rt3EcrRk+nNGxs0TgqcMP50DQz2hvazALDkAFTg1LwcTlRyRv1BpfBiTfOFO9MQyooLHO2571QLN8EnA33wBRUcCeQTKQP6UsS6BkHljcd6niYsMHcZyaoHTJGkWWdWRfSGx9MGjw2VQHoOdDZHGCABjbaieaD+tBTCSNM4xnltWVP4bcxmoZ2ES7+pjyA60XZxGbhBHCv5vb2oNfZba9Bck/3PTFcj1sCVH8hXtBBj0mYP8TMT86FnYXl27kf5eAZHu3QfSprZ/Kh8s7EAZ+Z3q16FhtsScAd61unCXpVeQjGT75re0dUieU8lGST+1LLaU3V87E7A8THoAKB9sgXfzZ4IQcbgbc+9E3TC3sY1c7EcROeQFJbWVru9eQbAscZ/el/inVs/gxtt8I35gVFDppFb0hRrV794nYk4TnnsK494kvn1fV28oFkB8uJR2q4+LNRNrp0iqx82b0L8utJvAujvc3n3kx8bBhHCpHxOf7V08aWOdmV/zo6J9l3hZEMQlUGK2xLKf45TyX6f2rqUy5lOf51Hounx6Xp0VrEclRl2/iY8zUpZZZ5UU+pMA/UVzcuTzrZolaIVYqr4HOh4yVt2LDeRsAUbcYitWYr8qj0+Hz7qMMMrCOI/PpSk/sN99Bs6+XbxLyIIP86C8ZjOkcAPxSD96Nvzx+Wv8UgG3YUu8YXEcFpam4YKgYMTVR/aWyadbmRO2eJgR6gxFaty+VK5fEVj58hDuVY5Hpoi11S0uTwpKAx6NtWr5Z2Nr8fyYndQws98DNeU9+Rr3PlWQNutMRja+mQSxnDHIxz3rVE4ZTk5YCp5f9NqiBzKxzyFVMLewGkbxctwfeprH/0+EnnvtWkeyE9BnFS2oxZQjqcmrphSiSIesZ7ZqM86mj+Jj2FQ/Tc0IR4DcYNZ7ivYA3rG/tVlGDzxWF5e9eB2HM1jH6VCHz1Y3EtlLx2zrnGCDTmHxGw2uLcg/wAS0mSyuEcBkyvUjFTm32B4gM9DWiointoZLqfQ/i121fGZSh9waJGpWr8rmM/+6qylnG3NwPlvU0enI+wBbPtSK4mOvQ6eTkksBvbUbm4hGP8AeKGn1qxi/wC+HPZMml6aOScBFqddARmBkJx0C7UC4UfbDfLt/Qk1rX7qUeXZHykPNiME1T54ZjO0s7FmJ3POurReHbcEEwnA3yzYFSXHh/T5oyspjXp8dbMczjWkjLk8snbZz/TEzEp9jzp1gB0J+HjH9KcReEI0djZXaGLB9BPX50Fe6ZdWa4uYyAMeobryxzom0ylOkNEbyOFGxkAj+tONPlP3OKXOV4in9qSQo2paI8kOTe2O7r1ki7/Ten/he1N54Xcr6n8xyP8A24pdLoPyNLzabjX8wz9aKgl8yH3G2aXk8cRbJ9JGa3gfgcbnB2NA10MTGlrMQSoOO2an4jk5NLBJuGB3HOj0lU8DH4Tsfag0FsMtlwoIHOjVfgeNQB6tqDtW4WZM7rv8xUlw+Bkc0Kt/Q0LJtDOME5x0qd5Qi8KHiON/atIgfLG54TuMVsAVyVXL92/tQaKpmsUJBDuC0r7Ko3IpmYzDaiMuI2Yeoj8o7fOg7bzEy/Inm7Uu1HUlRzFA3mS8i3PFTx2L2NnkiSDy4xwxjaoElM03CnxMaEt+J4PJG78yee9by3kel2+3qmk9IAGSavQKYVqlz5ca28RPDzI6sag1C4XStMEDn/NXIyQOi9qghmS1R72+bLgZCn9qpGtazNeX7ycXFM57/COgqoxun/hbrRaItTEMcgVgrKNz/D3+tVu9vDPKWHU7DtQDXBCpCjHb1Mf4j3+VCa9ctpmmGU+maYcMI679a048STE3ekINWkfV9d8qE5jjPlr8+prrf2b6TGlzxqv4NmoVfeQ8z+n71y7wxb+REbgrxOThB1Y/+TtXafCMEun2ioQGOMyt/E53Jq+TWp0isU6RbCTuckDFDaYx4Z7gjPmyE5742FCajfGK1WNT+PMeBP6mmEQjgt4kBHBGoJx/Kuc10PR7UZQAqdvUf6UXp6fdrPLn8SQ5Pzqr69qwshxHBmO6g9Pc1UW1u9uJfMed+Li2GTtS79eJ1OH+My8iPk9I6tERNeRg8l3qj/bHcO+iSvbEf5fDn5ZxVi068ZtMS5c+pkGfnSG6SLUbDUUuvVDKhiP1rRixeT8mcysjwZNfaZwaHVryGUZn8z/a3I1atJ1mK5whJhm/hJ5/I1TvEuj3OkXZSZSYzuj9GFCWUrLGAT12PatN4ZpHW4v5TNjr35T/AKdosdbeEBZDxKOtPbfVYZFyTseq1yjw/q5k/wAtdnEo2DHqKslg7Ry+WT6H+E/wtWGpvE9JnZricXnY/llF9juIrhCIzknodiK8RgseW1V3Tbo+YUc4kWrID5hRsYDAGn4Mzvar2jzX5PgLiUvH0yXYRb+9S2pBtYzjYZod3JcIoy1afd7hVKxT4X3HKmtHPQcmeFscsVGzKB8QzUcUciR8LyK/c4rdQBzwaosxxqMdT8qycnoa9nf27VsOXzqFEed8V4sAOg+dY6mtZI0kHrBNQhxpY/b61sISQCA2Kfw6RIqM0hVSBnHOt1gWLLSwu49jWnxYx5JQiW24j6k2+VFWtuyt6IiRn3p5C9vImbcjixyxyoqKHAXPIb1aRHWwO2gRR+KjKcZwKOhFuccMDfVq95PG+Djc86b2VnbphpWZsHPCowD9TV6AbA7LT7e4LM0DBc4JLk5+VHLotqSCEmx2xn+lOYdRij9MVuigUWmo8WcQof8Aid6Ctr6ImV5tGtnJARV9ztQ9z4emjQkeuIjljIq2C9icYccPsy5omAxcP4eMex2/Sl1TQSZysacNBuW1SG3JRUIlRNwynntVi0KztLM+dakHSr1hLG3SKQ7YPZTy9jVqvtNhvI24QFdtiR1pTpNg+nPLYyRg2r5ZQeQ7j60Pnst9+im6ro81lq17BGmUljZ4h/uX1cP1ANIbeZXAyduh/pXWLy0Mnlh34WjI8uU78vyt/ekGq+EbSeR5rZWhZ/UyodgflRqkRVoqETYPMYO1FxsCCh3BqHUvD2o2RLWx8+PtyP6UBb3pB8udWSRdsEVet+g1Q5jndHAY4kXke4o5rnzQOWeEqcdaVeW7pxhcrjORvWyNIhH9aBoof22oskSqd8DFFy6lwptge9VZ5QynjXIrCywBuJolQAdBtUUoF7HF5qsk6GOMkJ1Y9aEt5FQgggueXtQDXY8zhiCle5WoQscjN5lxLv8AlB4R/KjUgN6LG+sx2cPlw/iSnnjqfehYvNjY32oyBMj0qfi+g6VXpL6KyJFrH5j9GPIUBc3FzetmeUkds1PjK8g/W9ba7fy4SQi8schVf+88BcISXPXtW91HhMAkD22B/vUuk6Y9xcovD6mO2envTFKSBbD9Esi/48/wZ3z+Y9qrfiO9bWvEBER/CjPlRDoMcz+lWbxXfpp9gYbc4IHloB1J5mqdpAKKZlUvI58uJRuWJPT5mnKfFbM807pv6OieCtLW5uFmYH7vbYCDu3T9Of1rpElzDaWvExCoo3quaJb/AOEaTBaojTTgZfg5Fzud+1G29pJPMLi+dWYbrCvwJ8+9Ysn8ntmqWG6aslzc/frpcMwxBEfyr3pr58ZDvM4WKLd2Y7ZpNf6nDaRnzJMFuuNz8h2qr6rr7X0H3a3BjtwfVnm59/as9tL/ANOnwfx+Xl0tLU/sH8Qagt9qcjg+hj6BnoKEgPDKnYnFKL+fyrmJydl50xibIVlOR0rO56PbYpmJ+Kfou2lXjNp5tQfUMlak4Ga1EAyAc5P+6kWlXPDccIPq+JPfuKt2msk+QN+IZFaePlSnxPFfmeFWPM8i9MR32nWmo2ggvIEljxtkcq5r4s8Gtpam508tJadVPNP/ABXXL6IxSBtgh2PzoS5VXiZXAZW5joRTW2mc3FkcnBlyQuDiRfhP9KtWjambuwDZ/GiIyPlQfi3RpNKvzJGv+UlOY2HQ9QaQabctb3tzEhwsg4h9edXcq5O1wOU8OT/KOuJvcW8sYJEgxt7irRZq8ltGSeHA/Wuf2Wpxx6Pp7yP+IBgKDvtXSNLQnT7fizugODWbHPjbHfmbV4o/Z62g4CSTlj1ohiF/vWWYKMdqhk5invs86ujc7+5rXmSCeVe3PyrIXfaoQ8oGd81s3LPPpWThcdPasE9d8VCEB23NeBzvzrzbN3xWPy/OoUcZvbzUpCWe9ESdgQKGgv7pHBN55oznaTP7VZJ/COlyg4SZT0IlJx9DS6bweIzmymAP/wBxRn9RitqT/ZXjP0hnagR/5iCRsv699wc86tFkqXMKP0646GufaTqVxBcPY3UZWeI4IK8x3qz6TqTwz8LIAjczn+lVr9kTLFFbKHBOSBRiMg5qx7DNBrdxtjBxU6HK53INGkiBQliU48nPzapVukXBWBAe+aDrKgbZ5VTlEGUd5DIcSxYPcUXDFGcPDn5q1JM45YxWV1KKxw8k6R/8jjNKqP0EmWVH4QOLiz+9SCUMoVgCKX2Op293EHQrvnkc5osrG+SGA7Vma17DRJKiiMttjqD2oRONvUBwjoOtTr6hwZ4t87VJw4GcZOP0qIpi6bdj5ke454pBq1lotzcGO7aOK4xnJPAxH9atjxbAbEnmaQazp1nft93vowsuPRKp3FEkVsqt14cltz5mmXfGvYNv/Kllze3NqeGVQ5GxDjetda0u60a44SzGJt0kU4BoVbt51CTsXPIcW9MSKbD7e/SZfXFwA7bcq1uEjDAr8J6GhLcBeKPoTkexqVnyApzkUekA6ZG7dAMVAV3yevOigAyYI3rRos8jvVg7A3h4nzzFSxwnHKt2V0OSM4pho8kU7mKVAGG61G9IJdgCWZJDsv1ppKU0XR5bxwonkwqljgKO/wDWs63qFlo8YnvCCcfhwKfVIf7e9cy8b+JrjXnjhaP7ukYPojYsGzj4h3+lHEVff0Bb+gbWNWOq3ypFxMM8IztgdT86un2c6Z9/1T7+6f5Sy9MI6NJ3+n71zfw5bz3esQWdqUWa4Plh35L3P6V9FaLp0Gladb2VsPwolAz1Y9SfcneizVpaKlaWkMAQoycnPIVuGYrjYDoBUYAHqO9aeZxk4xhaxjCoeJbln1Bk4vSCEH9aSXUj2s6soJiY4YDmPenXiW3aO6kfnxHjWljslxbnBGcZwehrLkWme4/FXN8fwT7QsuR5jEHm3WttGvuFvIlO4OBmvMcDbball6g8wSxHhkHTvRKdrQy8rivNFxSYoUYHDocg1adK1AFlni3OcvGOYPcVznT9YUoIbkEEcmHOmH35YsPCxB6FTilOGn0Oy/Dy8fjR15ZLfUYvQ6uT8S1S/GviDTPCqKl5NmUj0QLu5qqvrV8HDrKEbmCo3qv+IrKPX79L++kf76oCmUHOQOWQa0Y7+rPM8j8PUvywvYRrXjePV9OmtH0yWMMAY3LjIPQ4qoWxMt9Ey8+Eqw6ipbPgjvzDqBCKj8LMvXsal1M2kV8k+mPxHcSDkMe1aOk9JCMeJRPk69P19jO81I2emRSgKZI1winqc1XLn7QvF0z5Gs3EKDkkICKPoBXtSu2u5B6VCKOFVHICl6qjemWPg/3IadixpLbMv5Dk/NaU+kP9M+1LxXZsPPuUvEHSeMZP1GDV60H7YrO6ZItXtHtpDtxputcml0p3TjtpFkHYbGls0MsWRIhGOeRyo3imjnqqR9faXqFnqlklxp8yTREc1O4+faiGFfIWk63qGky+Zpl9cWj9fLfAPzHI1brH7WfE9rjz57e7Xl+LEAf1GKRXHf0MWRfZ9GscnJ+XOsb4wCcVwqP7bL9QPN0u1J6lWYZoyD7Yr+4YLDpMAJ6tIQBQfBRfyI7UCN87mtGOB86o+heINe1kApbW8anmwDED6mrZawXCgG6n8x+yjAFA58X2XvfoRGI4ySBUMsRwSCfpTkWIyDxnGO1atYK5x6yT7Vr8g/Eq11pcN3vJkMPzLzH1qO20aK3IKyysc53xVwj0cON8qPc0fZ6PBGeIIXb+I1VUilIq0nT+LMswwDyTFOo7IMcnZe3eik8iE7EFhzC71q8pbkABSXTQekBS24V8Lk7VhrcqvESBtmi0G+elR3tuLi1lid+BGUhiO1V8rL8EUXU/FUPmyx2ksSQxHhaZjkseyj+tUrWvETXz8Me6dXbmasl94YiuL9o7V1EPwjgiBJ+pNRSeAbhWx5pxzBMQx/KnrJIh423sM8I3cstosiN8OPLPXPWr3YXUskYZ3y/Ven0rnui6Xd6TcSCcEIjbOvI7Zq32lwRELyFeJsf6eev8NKpLYxbLZDIVQMefajIZ1ZckcOKXWsq3FskqbBhnfp7VLnLACluUE+xiHj2IxvSLWbZnm4wNgMUcB0HasvkkA5Y1JfiynJW51S7tJLO93Rh6X6qelULUNMns5GBHGgOAwrqlzZRyAnGGpDf2TIWDjPvTlp+gWmjnyzEbN+tEeaJACDTXVNLV4y6LwuN8iqhqF9Hp65kJMnJUHM1egGWGMggbjiqOW8t4jwyzIjHoTVKOo6jqBYtMbS37RjLGoE02Nn43aaY93ai8f2DrZdW1a2CnhZpGAyRGpNBL4gtkuFKpLEw6yJgfyoMaLcWtrDc2aG/t+EGSFvTInfh6EU40S20fVo3+7N/mE+K3mHC6nsR1oW0i1LKLrWpG5u7i+uWL3EzkKnRFGwHypNbOxuVlbJbi4q6t4o8DPq0Kz6UkKXEa+qA7fUH+h/WuYSW01leNb3sbQSqeFuMY4fnW/j5YroFy5e2PdQ+7XUMd/ZJ5VxGwD4GD8/nXYLTVFFlC0uTLwLxAd8b1y/T7aK81O1tLbDWVsRJK45O3/wA1evlSeZS6lBIdW13JdszY4YwMBR1phFj4V67b0s01eC3Hdt6aQDDkntgVz2WgfULEXduwYDKj0nmapl1pTROSVdCenSuhM6rsNz2FYOCo4wCP4aF9+zXg5N4f6s5bPayqG9GR86VXKc1kFdO8Q22nPYyyXji3VAW81DwlfeuJalrcLTOsM8s0QOFd4wpIq5xt+joz+UVLWQYSReoESfLirAvZ4fSMOfakR1OMjZnP0oS51KYKTHHwJ/E/M/IUaxU/ZK5+Oe5ZYZ9ZkjGZfLQY5ZpTdazdzkiBmRB1O2aSQh55eKZi788nkKnklCD0/CK0TgleznZvyWXItJ6ROpZ8u2S3Uk5NayuYwvYnatrGQTIrDYFCaH1J8JGAdxg//n601IwOm+9kkcockZyRzHWtnjyBvwE/C55Z7GhdTtzHIskZIYqGFE6DfxtJ92u8NBLtv0NQpvfTJrWWWKTiVQsqfEh5GnMsMWo2nnRrwnkepU9j7Ur1CB7eYIDmRd4n/iH8NGaZciNVuVz93k/DmT+E96pv7LX6K9qVgYnOF4WHNe/ypS+c+rar3cJHetNbEgTxHY9+x+Rqo6hb8MjDh4XU4ZT3ogWgaEQBg07SEdo8Z/U01tNeGnsG06wto3H/AHJcyv8Aqdh9BSPGKwx3Hapoo6hoP2vahp8SRXFjBcKOvGQ361ddH+2LRbkqt9bXFox5nZ1/lXz0oLOFHP50yttE1CcBoYC4/wBrAn96VWKGEraPq6Lys/iz4GexqY6jp0AwPPlI7AKKSzE8O557ioUUs2FH9hQqF7ZpdMfNryYxbWiK3JeL1GpVvJJFVbyUeYx9MKHH60lDJAvo+Pq39BUqBoycf67D1H+Adh71HKSIm9jj7xGJfKVgzjmRyX2FSqS5CrypHAqow3yx2z7U1tJcHAwVA+tIqWMTQwUYXGQBQ13C12hjD8KfmNZZs/EflWQxIxyx07UKkjZmxt7azAEMYLDbiIyaYElxkn60FERxerat5Z8jhXlU+N0yeWiGeySWVnkUEb7d6WnRWa6V4JhHFghkI69DTPLHffP70VCjhQDtmj14r2BvYt0uzu7W4fzGUwEdDzPsKcBcdNzUyQ4HETj3rcIoBI5UqrCUg+MbDc9aivJ4rS2lmnbgjjUszHoBRLjgBOK519pviBLdk0wNgFPPnx/D+VfqavFLutFW/FEF3441G5dv8LsYooM+mW5Y5Yd8ChIfF+rWySyapFbXMI3PAeAqPbauXRaveS3gijmZEkfAAPwg9qstvHb2viPTxqcr3FmqvNIJjkHhUnGPniur8UKfRk3kb99HU7iJJdPS7j2ikjEg4tsAjNcG1K9hvNXup5W9AchAeRGas/iXxnf+KYWtbRHsdK2XCH1SAdz29hS/w/YWtvdRhraKXLZPmLxE1kXXsa/5egRHUEcTqFIGD0NP9Ot1eVAeR/arI+h6TqFk0c1tHazMPS8ewHzHKkNvaNoswsrpWUsxMUmfTIPY9D7UPlstdey32MARVCgDA5VpqHhez1OVZ2jaG4XcXEZ4XFQafd8WOoA37mrNpMwlYR8+o25Ul7nsa0mhNoFxqWla4lhqkZmikUm3vEHxgc1cdDRP2geBbXX44r+JvKucY4lxhx2NWW4sUn4FkDFEYMvCd8imtsfNie3lHoxsenyFKeVw1ckS30zhvhKxl02K8sZ0ZCkmeFhuDjv261YAMACm/jHTzaXa3SjEqDD4H+pH/wD6H7ZpYih0BGCDgg1od/J/MS58Xoc27pHEnEQBjat1ugc5cAUsQngAP863J9WRzpTLHUMkQ+FlZuu9beY0pxGMDqTSi3heZsR/U55U1nZbGxklY+iGMuSfYVWizkH2ra5Ld6sdJgci1t8GXB+N+e/sK54waSRUT4idqYahcPeXc9zIcyTOZCT7mttGtw7XM5GfLXAz0J2rev4SJhfJeiKOFYULHmNyTSG+uTPMQCeEb048QTmGAINi37VXUPDgEZ/Makd9sZn/AIvxQ1gPlQ782qS9jdLFJGHCGPpHtW2k27Xdygf4U5+5onxfmOK2jAwrKWX5ZwKNv6E662RaScWIPXgwPqaHusyLM/5QQgqVMxWUSL8ZACjuaP12z/wrRLKGTHnSsZGGOw/uaremEpbW/wBA9+4aO27LhT+oH9aW6nbGyvZE5EMRy60VaQy3F1ZQEEtLIpA9s098Y6cZNY8tBvOgZT/uA/8AFVvT0X4tz5CwXBvbAKzHjUcSMOYI6UX4WlW6uZrZsBZ0yR2YUhsnlPBBFvI0oAHzpj4XV4Nc5ZMQYEDvy/epa/iyo35IIulks9ZtuJsOT5THv2P6Vv40sjbvBdhccY9Q9xR3jS1aHUNMb874DD3BFF+J3ju9DvI9jJbtz7Z3oVW0mHceLcs51MMSNwnY71GRkH2ryEsTnnitlDOwVAWZtgBuSaYJCdNsZLuUAKnB1aRwij6mup+C/D1nJJHwmwd+pV2beqRp/gnX7uNZfunkRtyM7hP5E1YtL8P+KdIK/wCGtayEc1WVWoKe+kwkdquAiDlmogsjgKi4X9BTeOzj+KQA471BcNwvwRjLftSfP9GvxFgzDMC4yw3AomJCclsknc0RHaRg8crHPUk1HJqlhA3ArhmB/LvVut+gda9k0FsAeMjfvRHEF2Tc0tfVuIHhQKDyydzU9pehQGmkQA9MVWn7Ze19DKNSN+vvW+QozsK0jkD4KHI71sQCpzni6VWitm0PEfi2+dSqhbIUZxUcKRxsGlLtjpyow3Z4eGOJUX5Zqt6JrZLZWx8zMgx7Dej1jVDnHyFaWcbBA8xJYj0r0HvRLDAO+az3XYaRFwsx2G/WtcbAn9akGc7Y+lYPtuaS3sMhcHBIr5o+0bUS/jPW2k9XBcGIKT0VQB+1fTUjALivmv7ddNGm+LWuYgfL1BBOfZxs364B+tbOJ0xOb0Uuwc/eOMc1Oad67fRanLYRh+AnKyjO+D0qv6aGyzHZWH6Gobgnz3JJ5113P/WZ/ouoKRR8JQLjAUf0pjoM8aXnmSYwdgexrn9tqU1vMueKWMDHCxzj3FWiyv0a2ErcW52yAMVhqGhkvZ0hZD2+VEXCWl/Z/dNQHFC+wPVD/EO2Kq+l6wrQRwykkEnGelPY3EmCM47mlUgl2C2Vnd6ZfNbXLCWI7Rzj8w7H3/enlncNbXcbqxHD37VHBIAMPuO9HG3jlUcQ+opbf7LT60WrTZ454eOLBVs8I/f61Or+v0bMnqAHSq3o8zWMxtx8ErcSH+E09+9xRSZLLzycVnqdMbEVfUoI1SzTUbInHq/KefCe3yrn0du1rcPbMCMZZB7dR9K6La3iRkx5DQvzqv69pfnO8kUhEqtxI45g1WOnL0/RKnyX+oQEVqW6ZNZim80srrwTps6dPmPatGyJd+VNEjyxCxW6lts7nNV/7Qb918Lag0ZKqVEec8yxxRUsssjbEhV5Cq79pd6n/S8duu7NOmdueMmixrdIldI5DcnHEO3pFN9Hjxoc7jm86r/KkVy+Sf8AlmrN4eTzPDSnvdZP0BrZl/qBxnq0UrxBL5uouufSh4f0pdn1MfkKJvcvcyN/uc/zoZee38Qol0hdPbbLl4VtfNIQfE7cJI6d/wCVA+MrmO68RtEhHkwYiGOy8/55pv4bE0dhJJAu6xsxbouaTaNoN/qd20kEeV4j+I/wjehelW39DEm4Upeyx+GdLhjddT1aSOCMD8GOQ4wO9LNT4vE3ihYLU8UIIQMOQQc2pxe+FIkQRz3Et5qEnTiwiD5U40rw5FpVpw2QY30o4ZJQdgp9qS7Sflvs0fHTnw10L9I05LnxI1xEvDa2i+VH7kDGf0ptqtoJ9YsGwMRy8Rz0VV3p3p2nLZwLFGuABue5pR4omew0vULsDErJ93h+bczSlflfQ541EaZy3Tm8vWZLkDKQuXG2eu1Wjwb4V8Q6kH1bS44xliVEowHNWfwP4FWKwhk1EENcKGkU7EKeS11JvEei6DHBbGaCEDEcaKQoHT9KLLyNfxhbFYeN15X0jk9xo99rev6Lb3NrJb3iu3mxOuMcI5+496plzKyaBq0k5PmzXZX9BX0pp2qaXfeIpLq3dLmaCIIZE3WNCeWe5yfpXy140Z4NUurJT+ElzKwx1y53osFeXX6F8hafl+yvxb8RqSO4ktzxRSMj4xxLsf1rAXhQd+dQn1t7VqMhP94uLmQCWaWQnozk12n7M/CMn3NL66lWNW3VFGSfmTXOvB2mWr3MVxqRJjDDy4V+KQ19CaczLbRDgEKBfTGo5D3pGatLSGY1t9lhYlhjlihLuaCyheadgFG+e9Ecl3P1qjeNpprhkjhJKjbApMrbNVPSAtb8UvdytHACsI24QefzpP8A4pMr5jX1ewFbQ6cyj1KWY74AqcWhQYSMlj7YFaEtdIRr9k+ly3M0xku5OFAM+368/pTvTrlLi/RB6o+RJH9KQJDLMQp2VCM4p7CiQKpiXHCQaGi0WRrlopIwownX/wCKaxzKYwV3zSS4RpIvMBxyYVNp8x4SCdgcY7UtML7G0bMWy30phZQl34mGw5DpmhYY84BIAprEAqhQeYpeStDJWw+P4c/pt+prVjxHA2zy9hWF2QKDz2rK7uTjlsKy7DPOeAbGoiSOtSyKDjO3yqKWNlGAM+9ElsgPKSFzXP8A7W/DL+JPDRe0TivrMmWIDm4x6l+oq/8AAW3PKomTBJFacb8fQul5dM+RrSWPyhGvEGT0lX2IxWLtVwGKAk7ZrvnjX7N9N10y3ljElpqTHiZx6UlP+4DkffFce1nwpr+kSPHd6ZJLGvJ4SG2+ldbHyJudMQ5a9lTkjPF6aNsriSOIxuTwkht+4omDSdWupfLtdMuSx6umKO1Hwtf6ZHHJqikSSA8CpuAex96C6jWtgpP6G+mOnmKzH0/EMCrJp14yxgocqTyNUrQTI8fAVYshKHarPYRyJkGNgTy2rHXscpbW0MdX1F2jjit3aMtuxHMD2r2mateaZNGszPJC25WTfb2NASqxl4yOZ4eVFzyxCFBOOLoFxk59qmloDTbOgQTRXMSNGcqcN2op2XyjkbnkBSXRHL2EKqu3IDG9WWz8PXd9h5JzCnZRuayZKmPZ2cU/Bi8n7ZFB5ka8XECSAOEdKzHdE8asrNnYU2h8E2RPFO9xI3cymmVh4Y0+0cPBG4I6mRj/ACNZqzJ/Rz9vbbOeeJbOTyzeQKRJF6yvUj8wqKNeO2guoz5kUgDZHaupXGmR49SqykYORzpOfD1jDCY7aDyk4iwCHAzVrkLWminKb2UcSRZOM/IiqT9qKE6LDIo9InGf0NdTuNBSRiYuJX/gbG/yNUr7RbBpPD0sIQho5FbBHLetPHyRdbli8kNLs4W4LcXYEVbvCPr8P3KH8k+f5Gq35fDHeA804D//AGxVi8GOFi1GEnAIEn6EVut9CcS1aKGULeed9s/vQUY/EGeXEKeLAOO7UfxMo/el1val2nZRnywHPyyKP6FfejpHhe0++eH44VJWN3/FYbEgdKtNv5VtB5aARoowABsAKrv2fzY0KSL80czA/XBovWIJtSmj0y1dlMvqkZeYT/zWG91bR1sTUYlQu1HxFp1neiGKYHB4pnU8TMe2as/hrUVvrZppZIIVkIEcQbLAd2Pc9q57rWn2emXRtIrQswYRAA+p2Puatuk+Cdc0qFryx4opowJGtJcOHU77EHY0dY58ehE5q8u/R0W2sVKedOcIBmtLfwqmtanb3V9Gfu0T8cVvjZm6Fv7VL4TvTqtmDIpjdMccTjdT7dxV/wBDRVZNt81gunD0bnqp2UPxof8ADrG5ZGAZAdhz251xjXtJki0gavqweWa5ywU/kXGcD+Vd28Y6Q97qFzbFWJcsduxqHxh4dj1jwi9hCIo50jAUMOft7U/jUkI5W2kjlP2a3Wp6JqUGm3Dz2FhqADxpcQg8+XPv0Nc++0C1ktfFeopM3EwmYg4xsTXWfDPhK+uJrOG+nZZ7eVWUF/MMaL3Pv2pN/wDUD4aks9Si1aNf8vP6GIGwbFaZtLJr9mO4fx7/AEcbkJ4QK0B4ay/OpbK3e8u4oIhlnYCtRlOjfZTppuLo304LcAwueS/Kuuyz9OLkP1pB4T0+LTtLhhhA4VAye57084VMnFjfFY8j8maIWkWuRfwyOtJZ9KEkokcggcgKehd+/feorhgqdydhQy9D32Vm4t1gYRwLl26+1Zist8HdzzPam4gAfiIy7b57VukYQHABJ60+WA0LU0+3iXh4d25786EvbRYYy8YJVRkinjKOYG/vQ8y5ODyNSgWgaG6RoE4NxjGe4qS0OJ2A+EjkaCsbZrdHidCY0YlH/wBp5VMCVdT2NK+yixWb5AGcYp3aD0DO9V+EkAEdDim0E/CFGc7UOWNroZDGaNmUHoDU6gYwOtQQcLFQcqveiB8W24FZdDDVjxEjbFYhmJ4o2Pq6e9bEerfnQbnDtjmDVz0ymbupRyvMcwKwwzuBWJpBIqP1zg1sj5jK8u4pv+lIgaPIJB37VX9bhaOTzRnDDf2NWQ8gRQuoW4uLeRPzY2+dHNE0VNHBXNLNbtINUsXt5Nuqv/Ce9FzK6lowpyTjAobByyMN+RFOS32BvQu0HRLawtCrBRK25fvRMxFs5HErnp0p7H4YXULTgvTIi42CsQR9ansPDVhpSCWUPcSryaZuI/TpWTJyolte2dOOVKlSp1or8FmL8hDbAHvjnRgsraAAvCoZNskcqvWmWMdvbS3twqq3DxcvhWuRavrU2q6ncLG3BalyyqBg4osGR5WCudOPbc7YxtvEMVlrHoSN4yMZJwAeldH0DxJFdQqJUCOOucg/I1xiayjYej0t3qXTZ9QsJlW2VpVJ+Abg0ebj+fa9nPvk1krdn0RbSxXAzG4PtnlU3DgEqa5Xa6xc2Ecc14Gt1Y4HGwB/81bdK8WWdxwo8q59zgmsNYan2ibT9FjkXOx3pfdwvHlkLFaPiuYplyjbVKUBzgbGkVGw1WiuZHEOQI71X/GFg15aOVj4gVw2P5VbNSsVALAHhPPHSklyl3bgtE3mIB8JGTSsVvDfkhrSuT5gv7Uw3WpwkYwHHL+Fgag0u4NvNJ0EsZQ1fPG+nxnxBNPDEY1lceYv8PGpU/zxXOpIygZG2dTw/UV6GLWSdr7MWvB7BccF3MpGOL1U08N2cc+qOhwEuoXhPsxG38xSm9W4V0lEUn+70HH61jS9Rktr1XQHY526Gne50Kb1fkXTwrBLp99cW1wODzlDLnq67MP03q/+AraKfWL+SUKZOFFUHmF3/rSfSHtNftI5FwXXDHGxRv6VYrfw+Y5FutPuXilxuG3xWPz/AJ9+zp/H/wBepfQB9qPgFbyCGfS4ZJSSWnCn1luhX5D96d/Zrosml6Wwv42SeUqEjc5ZVHQ03szqTECa9gGO6HP7090yGG3dpp5TPNzUYwAaDLkTWgIxUYudIh0ktwlCX9QVR8GenyonSHZFBJGc0JqMhlUyMSzcwKXy61Y6LBatfXUUUsu6q7YzWXTZrU+M6LhqsHnQ/frdOKeNcOoG5Ht70le103WbdLpy3msMcaEjiH0pbqv2graaLM9v5Dggqhj3Z2OwUe9b+CLWe28P2sV3kTkF2BPLJzip4OFsXK2mmG2mm21mCtrHwDOSeZP1pf8AafpCat9lOvo6BpoEE8ZI3BXf+9WNImLYA2qTxLDGngbX0OMGzkzk/wC01c1qkwM2vDR8ETcxT/wRbtcazDHGMu7Yz2HWkMgy+2+1dJ+zexSw4L6cj7xMeCGLqR1NdinpHJS2zqkEaxRqi/lHSp8j35VBFkLlt2Nbr79qxM0oueAOu3Oh5iDJz3FTyNhTgYoNW4pvYfvVockScICk7fOoyuT7dqnbkO9RlcD50arRWtkBXi2AxUUsTZwBkUYi9hj3r0iZGaGq2yOdIFji2KyYORypYyH7w1uI3LjdTjmKcRrxMP6UQqjiz3pkz12LZrCmBwnngUfaRlyoBoVRjNTW7ssnEuxq7XXRc9D1EC4HICiBgsOWKFiYmNWbmd6IBzjHOsA02J4SDQNycSN3NGSOAOJ8+9L7hw7tg5x2qJdkIy5z0xU/pUIVbLEZPtQ+QqEnnWkMyunGvLOKdK2Uw0uoHua0aQKnExAAFBXU/CvEOQNAzXjXBGT6Bt8zRzG2C3oAv8LqazKv4bMD8t6ntNMB8QXHGmYY24hvsc7isyxiZDH36+9Xm70tILW1kUhcxqGPc4pPNy/DOl9lT2+xVsoydhzzQenwnUr4yMCbeI+nsxrfVj5hS1tSWkkOM9hTzT7NLO2WFcbc65WNb7H09CvxnOLTwxfNgglCo+tcM0yMkMwBJb0gV177UZGbR0tUkVPMb1MxwAO9c3t9VhsYprfw3D95u4R+Jdy8k/4jp+9djiamHTMmTt6DZNMi023W5165S0iYcSxggyt9On1pLdeLtmi0G0W2i5efIOJz/asab4dn1m6e91q7LLnJ4jkk9gKX63p3+H3jrGeKDPpaqfOxu3jj2M/4tqPkpdEEl9cStxzSNLJnPHIeI/TtULzSPzckds1p7gYFePI0Lp17KUpehto3ifU9FnQxXUjW5OCrHOK7J4Y8a218sUV4whkcelifS31rghGV4Typx4buwjtZzkEN8GevtQ1Ctf6RdPR9JzupiPERypEx5kGuV2fjE+H9QjsdSklkspBlOLJCfI/0rotjfW93GslvKGVhkb8653Ix1L7H42voh1zQrPWLZ0uECyEYEqjDD+9fPPjzSH8NeIVW/RmgkYS8SjZwDvg96+mFcE77VRftp0mPU/BN1L5XFc2n40bKNx3H6U7hchxal+mDmjcto2stVijgjuoLSK40+aMMqleSkcqq3i7wlpfil1vfDCpYazGu9syhY5sdNuRpR9kHiSG805tCvpQs0efI4j8a9h7irLqFvJZ3AfDKyMMEc8V07l468kBjc5V4sqfhy8tdNvca5Y32n3qelnVC0bfPH9a6Rpd9b3eDayrIjdVB50q1SL7wi3MeSxA4qLs/wlUcRx7mk3Sb39m7BDla30WOFQT6jy60VG22FNA28olXIHXGKLhxxrn9TQN/Y/WgxFHCfMxgjfNILrTrSOV5fLMyHYLIgbh9gTuKdandW+n2Fxd3rhLeCMu7ew/qeVcb/wCtba61GS81W2muUz+HAkvAsa9B8+5q8UO+zPeTVF0hsYJ7y2ln4ILO2fzGlmIRFx1JNXhtcguNTtbeGFlidPw5nHCZB0OOYGO9cgTxjp5mEumaDp8Fwpysty3nMvuAcgU88Na7e6r4rspb91kfcAqMZq8sJDMeO8i+Rro7EhGB3FV37XNQGm/ZnrUueFpo/JX60/iGX2+Vcs/+pm/k/wAF0vQ7UF57hwxVaTgnytGPO9SfL1vG01yqxqWYkAAb5Ndt8G+Hm0y1S5vfXeyDr+QdhQngvwZFo1ub2+KzXzD0gbrEPb396uTH4a6WTJvpGGJ+2YzsdgK3BwDWg+E1v+U98UkaW2cgL7DeobZdvV8RO9bzHJOPnW1v8AJ6nnVj/o2Pxn2GBWsh3ArYH4ie9RysobpVERuoyAKmKBlHSokcZ3z3qRp41GTuT2oXvZfsykQHMVGVKk+3M1NA/mHGcfOi5rdEiLyuoXHPFHNtPsFyn6F6rvjrU9tGXdQRUKSji9A2PWioXKcsCirJ10UpGqbgADGBUivwEY/+aChm9HPesrMuSc79qyaDCpZOMlm50LMVQHpUb3KiQ5I9qqninxOtiTDbgNLjctyH/mimG2U2l7DdZ1iG0yZnAUbcJ60g/wAba5gcW3EgIB+vSqcZpNRveK6kZgeZFWK1VI7QFVIO5I/atkwkJd7C7DX5JIAsh4sueZ7U+syZQDHuGO2Ko9isJjmWZmjkjdmUj3Aqx6HqZ8n7qOBFB3YDDNnlk9qL16K2XLT4YYpUMxEkw3Cg7L86sBmlubKUSk4j9QA7VU9HGZzjc4qyWVwschEvwuMYPU1xee95dDoWp2b6DYK073M5Adh6fYUykGJCM5AqO3ljD8IBA5YNYvJ0toHmJ2Xehmfore+zkP2xag82qwWcRwUXf2zSHwFYGW31iGIDiY5yT/Oo/EOptrPiWW4kQFeLYL2FF+B29erRDI487e1b8XcuQGtNMKsOJTLxHPl+gDPLvivajDFcRcM6gqetA216lrx+cQF65NT2d9HqReO3y3D32ri5OPlVvIl0en4HI4tYVhyPt/Qmm0Ji34E6eX/vztXj4avH/wBF4ZD2V8H+dWGyj8mXy5RtnBNG3Nn5eGXIHcUFc/JD8dj8n4bjb0m+zmmsRXmny+Q9u6yY3LbKPr1paU1BOC4tmcPEQ/YH2xXTb+MTw+XcL5qLuCeY+VKrjT14AUI4flXTwfkE5Sa7OHy/xNYf5J7RHqMEGvaPFcGINNH6uE9COYpfpms3unyhoJWC9VJ2NM9Jb7lqJhJ/BnGR7OP70Jr+ltaXXmRKTBL6125e3609tNa+jn6a7Ldovj1S8cV/E2Dtxg5xV0a8t76zZ4JUdWGOhG/euDIMHemGm6ldWblLed40k2YA1nvjS3uQ1ka9lA8a6PcaL4quxaxPFGJDJAU2wOfp+VPtC+0q6jjSDW4zdRDC+Ypw4Hf3ro2pWVrrtpGLgcfUSqcOjj8wPeqZrngqC4yZlEc4OBdQLhZP+adD7iuvNpypsxuWnuRrp32i6TcazHZQQyR2Ljh82Q7knrjpVyePypB6gY23Vh1ril14A1KHhktHjnTngHDVefBHiKeMR6PrqNFMvpieQYz7GqyYoyehmLkXiL5aS+VICNx1p1byK5GG3FIioQ75A5g9Papbefhb4sisLx1D0zrTmjKtyCfa7HPc+E47a3BbzbhDJj+EZO/1xXMbHQIBhpQZW/3HlXb1MV5bNFMgdHHCw7iqrP4Nmhmd7G4LxMcqkgzw/Wri/FeLHceMSyeWVbKnDpkEZHDFGpHXhFOvC8KLr9nHbqWm8wNgclXqaZ23hO9mfhkuFiTqVTJ/nVx0DRLXR1xbr623aV/iY+5qrta0b+XycKjwxotulrxzjiPpXdj7VxzxfONY8W3Wpy+oA+Xbg/kQbD6nn9a6L4j1ldL0SWKJ1a5ugUHCclV6muVucsT3ouPLXbPN5629Bin/ACyjFZPMYrRP9NfapDu3PpTxBkD0c63HJt61PwVuvI1CFnGGikIIO2MipQvBEo7KKggRRHMV24iNulTz7YH+0VDSzWLdTUMoy+3epoh6TjaopcAk5wAd6oiNmGxHtmo+uMY962MgOeEY22JrUHiO2KsiJ4nEfqOwHWop7t7plGSI15CvNH5iFDkZHPtUllD6TxDBGwqNkPRqQBzo62G2SKzHGDsRUiKEGNsZqtgtm+MjI5UruDIly/BkA01HL50NcQFiXBq0kyt6Fzhgpd9yOQqna7p735eVBmUHPbI+tXaVXIIwCCO9APaZGCDvTF/HpIprfspGi6RdXE7kw+SqbEs2d+9WNdLl+7FONCw59NqbW8AjTgXbqa3YYQqvamC9FRuLThvJCgJBYjH0Fawfg3Ct0Hof+hqyC3USSNgBic5qCawVp3OAA4FQhYPDknHGoYDiwTnvTDVZSiW4X4nmUfTNKdAH3e6W34gcR86Lv5TLfWKg5AuBt32NcDO/LK2zTL60WGJjxZzSL7Q9TNrpEkCOqTOhJ3xheppypCgknhHWuI+PNXk1rXJxHvCn4Sb8x3o+OtvbF316KtH4msopybTM0hOACpIq6eAneXWLkSFY3ni4yuMY9qT+HtKsrcM92CSFPCqr8Rpj4NP+HeIlHxrKCvq6ZroRkhtzCFua90VvX/DN7JqTIbuSVWkPCkZIOM8jTTw/pi2cY4FKlTljxHJNWfUwsWoSrIuCTxCs28VxqM8cdvGXOAg4V6Vzs/Muk8dHo8H4mZqc0/10mawqXZcbnnzqzz2p+4oSAWwP2raHRbHS4kl1a5WDhAzErZJPuenyGa0n1+e7YxaBpZdQcedMOFR+vOuRl4t5KTb0jXyOfCanH3oUy2EzZ4ImZcfFjagPuyxgpcSxxqdslqY6lpWt3UQe+1Iqp/7cAwBVeTRbRZC8ytM4OxlYt/Kmx8UdeWy1eflQ50tENxLo/CyvqPFcKcp5Yzhhyp3pNzpmtaaY71rhPKzIrRJkj+IfL+1LprK3imJjhjUYBACgVv4fn+46w8TbRuONfrsw/Y/WuphyTa0eazY6i2mFf4Z4Sn2Gs3ETf/dtGx+oqP8A6R0eY5tdftZCdwuCpPtuKG1azNpezIvwA5HyO9LLu4itLd5pjwxoMk0ya29JCmtLbDIPM0vVHszlkcjhztv3H0ps25OKpFrJd3Fn9/m41y+Y1/gHQVP4r8TNZeHkltWC3cx4B3XHM10njb1ozeQ11rxLpOkN5d5cKJR/20HE36Uj/wCs/Deoukd0kihWBV5YtgRyORyrlcpeeZpJnZ5GOWZtyTUbR43rQsEr2B8jPo3T9Vs7+z8zS7mCcqMSQK2eXUdRWqXdqWJWfymP5ZBiuL/Z3evZeLbEI2Flfy27EGuwa/YgHzFUeW3xexpd41PQ2cj9j6xu2iwyyROvswpvBqScirD5YNcjltACR6h8iRQNw33CJ5jNIgXmS5wKzOIZsbyNb30da8U+NLHQbPib8a8faO3BwSe5PQVxzW/GOqanOzX99MEPKG3PAiew6n51X49QbUEurqVi78B4SxyQCcCl1wSm536Vt4/HjH21tmLNnq//AAf2utiGUNHczJnmWY1cdN1RrpAylJUxuQcMP71yx/UvKjNIuri0u1MEmMkddq2JRf8AG0ZvJrtHZ4ZFkjBUgiphu/0qlWt9I/4kUhil6j8p+Yp9oupfeJHhufw58bDow9qz8ng1iXlPaGxlVdMckYWtwNmFak5VcVKo9BOcmueNLJAPwZP+WBWbpsLG3PK4/Q1lo5Le1fjwDkEb1FIwkiwOh4h/Wommto1Ndm0TDgzvtQ9y5ZyOmd6xFIWVxyNRzcgRnJqyfYSMBRnljFbWo424iPT0qBMlRkbimcMflxgAcqpso1bYfM1LGuEXudzWjpl0XvRBxxYG2KpsoljGMnnWw3+VYQ7cq8PltVFG/MGvHZG7YrIIrzEKMnlVyCxft3FQv6m7DpW5jRXJQk77Vq3XnT5rYLWiMrgHFaBc5J5DlUo3Gc5Fa454yKMoDmbhkIA586zIMAZ7da2kB484yM1I4409WDioQjsW4NWiY8mTAP0qdpSL623/AP3C7/Q0G5KeVMOcbYPyqPU5vJV5hyjlRz25GuJkj+bQ3f2R+OPEcttF92tHxI43x0WqBYQ/i+c4yajvrx9QvfOYnLnP9hTCHCrsfnRtfHOkUu3sLSGFrdmZysoI4IwNiOu9SlV+8WrWkLG4Dh2A3yMjAFRWxhaQCaZYYARxzPyX2Hc+1Hy6zD5ctl4eiIAXD3TfE316fIVMUXFKn6GdWvFdsea1pYh1INqLGHiAIXmWFFwXs8Fs8OlWy26HYyyj1H5df2rHh20OpLp91Mz3FxLEBxSblSNiB2p/f6JeWshd4CYz+ZdwPnXP/I3kw23jn/6dXi5fmxzGSul9CLR9FiuLhp9QLXUq7gybgH2HKrMiW9sV8+aOCM7ksf0FC6fCyuygEZ70p8VabNqVq0du7AgYYLvvXE4fIWXkr5n0MzrSfxl4vtIhm07zYGRiBuQdmFcp1GIR3EijoavnhuV9K8MR2UvHJIBzbpVO1i2dp2MUcj539Iro8hY7z+GDt/4N/G5njT+V6X+ieVeJycZ2oG+UwmG5AOYWyduanY1Yra2kGC9nIT8xWus6ZrF5Y8Gj6aJM5EhJBIHsK6WDjZE1vo5fKpOqpdoD11kNjBdk7L6GPtzFUX7pP4iv1EaMLGJs8tnPer1HatJpC2epQMvw8aEYI4TvTS3W0hQQWwSMDYIBiuhi8Z7XswZFT/8ABBLpmNNa3A9WNsdD0rlXiu3dSjkelcjB6V2y/byIZZD+RS2/sK4ne6l/i2m3UkwUSA8XprZx2xFpFXkUZ9Od+tR8O9Spgr+xr0YzMo71tEm2izC01uwuJDiOOdST2Ga+jbvguIWGeKNwCCK+ZplySOldC8N/aMbKwhtdTt3m8pQolRtyPcVm5MW0nBq4lY02snpotk8fEWXBDCua+PNU82Q6dbuGQHMrLyz2pj4j8eyXiPDpUAt1fZpW3f6dqorZdyznOe9VhxvflSLzZpS8MbHWiLnTrv8A5qtY1IYOB0rGgNm1lj5BpVqS9UtM5O+TWmTNXoFUkoDn6UZbRFsBQSx60JGCj4O/Y0502RePBQA45itGCFdJMUxvZM0YBY+rG/vTMetVwxVgcq45qaVA9Q360daPyVtq7Sla8Rb67Rb9D1A3kHlzbXEJCye/Yj506TYHeqPDO1pdR3UIyybOv8S9qutlNHcQLNEeKN9wa81z+K8F7XpmvFfmiw6fqJvV8mYK5I2OOtYe2LHEOc/wN/Q1VeGazlPlllwcjuKfafrcN0BFf+iTpINv1rgY8rh6Om532iVQVfDAqeRzUqJ1Y7VPcRyBUYgTx42cH1Af1FRK/EuQPT3xy+YrbOVUhZLApaRVI65o5N/1rSxRVjaQ9etaPMdwp60QPsKIXAII48Vj81Bqc/OppHwFAO+OdUUGJsMVsDjrS9Zih33rUytuxNWTQTNORJwL050PcXDNhc7DnUXFwgk86jB9W9QvQQpJPKtJDxHHIVkHah7meO3hknncRxRqWZicAAdadinYu3om4gMAb15wVxg86XadqllqSM1jOkoQ4OOYooSoOu/tWjxSFeTZsOZ7Gs8QCYI371qrhm2ya1Yczip0Ts3hFv5c/nkjiwqgdSTSnxFaz21nOkqmSJkwGQZ3HLNevzJ59vNGrNHC/G4HbIq0SGG9gOCHjcc65uaU8jZtxY1ePs4L4cm863wx9cTMh77GmE955aM5JEYOB/uNGX+gNpXiO6EYza3LF8fwn/zQXiC0zFCkYZYEB2UZOadOOap2/RiyW8b8PsDtBc6tOE4j5Knl0WrxpVokFmqxj0qQPmetKNLt0tYYURAvIt7mrPaKGtXC/lbNcb8lynXS9Hd/DYfCnbGOj6g+laTcmOPzJbKYuq90bFdQ0jVU1Twsl7MnlrJEcqelcwV0XVELAeXdxCNs8sjb+1WjT/vNyiWc8ka24A9CAgY6CncvmY44yyPva0Ylx2s9T+mTxH8IBds5xvXjEwZpfyAZJO2KW6xq1npCEXc6DhOFUbk1QPEPizUdaU2dnm1s22Zh8bDt7V4zjcHNnra6X7OxGOreoLVbeKYtR8RS6XbQsYgmRODzPtRF1A0AAaRttgQBmqxooXTowbQKlzw4Zm3x9OtNY2vbxuK4nYIOewWvRYfx3Jw15cdqZa7/AGzNnvB5+DXloh/xQQ3Pl4llI58Rx/KrJpniOziEfmH7oTsGPwn6/wB6x4ct7T7+rSosoAIJYcX60yu9H0mYOiWpjVzuA236VucZlpeWyrvDS1MtB1xBp2sIJLhAHI2ljOxzVEn0y603VlWeQPZSH8OUrsCDyPb508h8N/cJfN0m6mtwecWcofodqscNss+nsl4gJfn/AHrRG5XZkep7RTftFsjF4VvL2MA8Nu/GwHXhO9fMmlvwt5b/AATDhNfZmr6VDdaRcWUoElrPEYnU9iMGvlnxJ4bt9C1qew/FTgOVJIOV6Gt/Dtacs5/Jnvy+inSwtBcPG+AQ21YVeG4gfkpbBpvqViZpTJF/Dkf7sUokJCYPTDD6VvXoyMjvofLnYDkfUKDcHanl7B5lnFKuCvDnPak0gwcURSZF3rXOKy/OtDuDUIM/DswW6kicjJwy+9MpfibiGRmqq7NDJHNHsymn76jBwK2SeIcVCvYW+tBXFbFyJImA6lWptp1tZSgeS5LdVY71X47mCXBLhR70ZA9sjBhPhhuCDWjHensW0WQRIhAK7d81KsYA9B+hoWz1G2m4UmlCnlxdPrTFoWjAIIeNtwVOQa7WHJGRdC3slgLFeF/pTbw3qBtLo20pxDIds9GpPE2DmsyHhmyOoyKHk4Jyx40SK8Xs6dcIwk8q+i3PKReVAXWl8Q44WDCnjMZWJbfNRNADKHjJRvbkfnXhawpnY1U/1EllqN7pb8JLGPqjbirRpmr2t4MArHIeatQz2aTxniCseopLdaS0bFoCdt8VlvFU+g4zS3qkXGSJnjCowwOnQ0EyMrevakNhrN1ZOI7nLx+/MVZYLuG+iJRwfpyoo5Tn+434k/6mgIA33HatCScludDz+dA49PEmf/zesrcxyZGeE9QedbIyTfcsS5a9k2cn2qK4mSLBLcOOnOh7i8CLwRYZ/wBqF8skmSdj3yacp/YDZLJdyyf6Y4F7kZNERPI4JIXA5mlkl2qEEjEefhHM1G1zNcjA/Dh6IOtNUbF+eh291DGMFh8hvVK+0C9e+t7bSIC0f3pi0jcjwKM4+pxVhiiSMqX+LsKqOsSrc+OnRc8NtZquPdmyf2q/LwT0XE/JallN8JXk2kaxcJxEyRtuCfjWu0abf2d5Zx3FsS4YfDjcHsa4j4gT7pqsF7HsGJjk9x0q0+FtaGnzsryhLWYZLHkp707/APSVQu5+KnB1IyxqueEL7Gg7nUFUEbfIVVLjxTaHPkJPcH/amB+ppdceJbphiKySP3kl3/QUtpA+R0PQblL7UbW3hjYLGGmmYjmeSj+dNNUtzp0guYlP3dj6wPyHv8q5v4X12f764lkSCdsCMrnDf7STy9q6RaaqL2yaG4XhnA396w5Jao6eCk4Qi8SxpNZ/fIgrlBvjqK5Lqk2uG4+86fPA8LAYhKcvnXWfEemNNpc62WEkKnAJPDy646VzjR7eeK38m+tmguIzujHOB7HqPei+Twh7W0Z+TiVWq+wHT/EGrmRY73SGJ/jiO1dD0C64lVpUKrIN1PSk1qgAG1NbSIpkgZQ77dK4/OrHlnxmdHR/GZHhtq30xtrNs3+GNNCctAwkUjnTO/u7p/DUWoaZxPK6YZF55qHTZ4ZreS3mU8LKVz8xWfAdwfuuoaY+7QN5iZ7Z3rJxnWXi3ia24e0Hy/8Aq5M2/TKH9y1HUH4po5TI3MBT+9WXRPCFzIVnugIIF3JY4/Umn1/4osbGb7rptudV1Q7CKP4EP+40DcWF1dJ988V3rXDHdbKA8EMfYHHxUyqqIT5D8d+kvZrX5O6/6uJH/wBPa1d6O8P3ZOG8kj2HkKTw/wDuHKq/96ESlRCwXpxyFj+9S3l+oQx26RwRL0UYGKEt4J7giRMIp/M43JPYU7jRVLWNaX+sP4MfHXlya2/0hvpF23mnLeSDywxGT8qaXut3tgqmPimBbB4TnA+oo3wnp1pDcCaTDY5ySHJNWG4UXEpDgPF0UDAp/wAK81TvbMGXMrb8Y0iXTbrz7aJm2YqCaZpkDB5UBbpGpXgUKBtsKPLqW5jHSnmO/wDD3IkNuDzqgeO/B1jrHDcooE6fC45j59xV9eQYONzSe6TJZRkVapy9ywVCpaZ846/pV9pN8I5rJkgB9EqksD865/qbC3vJUkysROQ2OQNfVl0qNxxTIrHsRXOPHnhPStRtJFjhMVyfgeNcYPuORFdHDy99UjLk4bXcnHDqkiW/AoaRG2BCbUuaRif6cqZPp974bu/8/GTAWwGByp/tT2NILqJZYwjqe4rp4sayL+LMFbl6ZSTL0OAa8JAfzg/Srm9hbsd4UB9xmhJ9NiBykSKenCBV1gtE2isMpkVlCNuO1SWYt4mH3tXBHLI2qwq0luN7dZFHb0kURYQW2o543VWP/bZdxVRiqq0W9JC5I4pF4o+Bh7VstoxGVjz9KZv4bkgk8ywuEVv4WGAamjzCeG8haB/403U034XD/mtAeSfoVLZSczEab6dcSwIIyxA7Hkan4OJOKN1kTup3qNlDAg1sw45l+UMpv9je3mD+nrUtxkBTjltSi2cqwVjt0PamJl44irfH0962+W5ApaOxg9K3Gw25mtTtzNY4xzFeI9ncJo/apFZGyJBxA/mHOoBICux3rdDhSc0tojlUtMjvNMWVeJQGHcUmaK609ma3bAPMYp55jYJDEd8UHJdSW5Y3UXnWuP8AUTcr8xSqwqhe7xdz2jfTdXEo8u4wG5b0dPZW10mHBBI2IOCKUy2Vvex+dZSq/UFTvXrLUnsW8m/Vnh6MOYrFeCsb3L0zVj5E5FpnpdNnsGaSMG6h7D4l/vS+e4LqW4s78uxq1W17b3A/AnR/YHB/SvTWdvcHikiUnlnkadi/IXjesq2S+LNreNlOgjMzF5DsOlGrLHGp4PU52AHSj9U0lI4JJoZeCNFLMCOgrmjeJ7+SR/uMUcECnCySrlm98dK7OHJOdeWN9HPyTWN6pF+CkANISWPIDcn2qjXlxb2fjHU3up4Yg8EZ3fljOQT3oWfXdWlR0++rxNsSEAJHbPQVWNeuotW1C1U2qW4tkKugOeI98054fJeIMZXjpWkZ1/VP8TYwaZAZcycXmNsuPbrWtlY6p93CPPbIOgwWIro3hiz0iw8ESalY2Cajq+CeFt+E9AB7VTZbmeWWK51i2gsr+ZmLxRjB4NuEsOh5/SjmPBeMg3leSvKiW0N7DHwzyRyL08teE0RDJHK3ChUuOY6itVdAoZSCvzoC+u7UcWWAkA2KnBoXjbLel6HOFTeR1T5nFdB8O+I9Fm0eOHVLlo7qA4WRVYsR9BvXEbJLuS7SRJcL8XmscgDrn39qfWy3d2witnlWH887jDN/xHQe9Zs8JdbNHGdb2kdotNWsr8SJpk4vJIxloscDY74Ncx1HVJX8evazx+VA0ISJTz2JzV6+ynRbaG3uNQCYaX8KJjzKDm31P7VT/thsDp2p2mrQ/Fbyhmx2POsylU3H+D8zrx3+hzbw8u9MQRHDw8ODUFkY5baO4Ujy3QOD3BGarHiPxIyMbe1GSTsBXGxcfJyLcr0vYVZZxJUyxvq9ppPmS3kwH8KLuzUnGs6hqeow8Kvp2mXL8Dsowzjrk9aX6DpCvNHeasTNIxzwE7J/erF4qvbBdNW3imQzxsHQKOWOnttW7HhjjZlMTtv2/wBDM+TJy8TvI9a9Is9tYWuhhoLROHHOTq3vmgNXvHkjYdO55Uq1bXLptAt7m1EZkixFK77kA/Ccfyqj3t5d3pJurp3B/KDgVmf4dvK8l1s18f8AJRiheMj7UNXtLeGSNmE0h/Km+Pr0re31C7tWKyQhcKGBkz1GQcH2qsRwkgcK+nqTVk0K3t7y5Nxqt2SEIwhBJaunHHnFHiZ8/Mvk5POugp73VLvyyvnsrfAI1IX6dKvHhTR7+3k+86tduu2Fg8wn9aHj1i0tYvKsIJZABxqEAAH/AJpDfeKNSFwwjsMDoxfioZx/UoXWWZ/szq0UkYGEYHB6GpvvCgbEZ7E1xX/rK8TIc+W2fy4zQk/i2d8E3Uhz2blVfBYDzY39neFlXh/rQl1jjOOdca07xxc2d0pjnMqH4lfka6Ho3iO11hPwz5cxG8Tcx8u9BeG5Lm5fphGpW/mp5iZ8xf50iuoVuI/UPUO9WdiMZzSy/twp81BgnmKqWMRz/wAQ6HDe28kM0YKHoRXJNS0668LagiuS9hKfS3Ra+gr1QwAYbYqr61ptvf2s9leKGgmGAcbo3Qit3Hz1jYjkcdZFteznMciyKGBGGrOB0P6Us+63Gm3c+nXefNt2wD/EvQitycnau9ObynZxnLT0w9kB2xQ0lqj74KuOTCoVkYHPEc0SkhYbnFMVKwdaN7S8lt/TMWdB23IpxE6XEXEpEkbCq/JxhwWwR3FFWE5hY8GOAncdaPG+9P0U1+iWfSmjk82yYr3Qnb6VGGJJVxhxzFOYZQyhkrNzaxzruME8mHOtU4FPcgqv2K4FBfJHKilXjBVuVQrbywyb+peWRR0CbbjejlEbWjrrSBx6OR2zWjHB2NYj2jArJ3A7V4tLR2zaFsEkjNeefOdwMcwKjkcIOEEZxyFDg4BJ3yaJSn2A610GRyEgHB51i4nGCqenbLHkAKG89kVTgbdO9B3Mv4QAOeLdiP2opxbrsGsmkRxgDUDPbjyWAwWGwx70euoxTBhdw8SZ+JRv88UtDrwBEO55mpEXko5mnXhm+mjM3rsLn0eOePzrGRWHsdxQ9vqWoaWxR8yRg/BJuR8jUUtw9rMotyVcfER1NNYLo3hSK6t+NnGzLzrnZuH4+h2LlV99gmqa4b2BBbr5ZAPEh6npXO7u1WR5m4jHJnPB0zXRbzRUZybdwrDmp5ikGoaO/nB51YDqydaXhyVx30aNxlOY65dtYLHxCVcn4wuw+dL7vUba+uVktyeNUAduQNdUOi28uS7GSHqCvL517UfC2g6lbCBLb7nKvwywAD9R1rfH5CG15Iz5ONSXTOVxXE0LFoZpI26lGIz+lB3tzLGePgeYndmzk1Z9a8HanpIMqAXlmOckQyyjuV51u/hYyaf94tJXlkIyoDjc9sVs/wCRDW0xMcfJe9L0Vm2vzPAWVpAo/KatdhpCSWugI1nJcTauSWnViBCM4wB7DfeqzJFJC7RTxmN12ZG5g1ZfCnjPUfD1obSCNLiDfyw/xRk9qa9tdCdd6ZPFpUmn6rfacXDmEghu+DkVcdA0eTWIGaR/uujxZNzdnbzAOaoe3dqqFrdS3MF9qV4/BJcsI1PzOB+9dE8Qaut/aQabaDFlCiqTjHmEDt2rkczK5vo6eFucfivsCk1eS81BJtM47azgURWqr6fQOuPeva9psmqaTdpcTPPLJGcFu9badBkhiNhy+dOEHtXIvl1jr+I+Y3OmULw5rbJ4KWB8+dbEwuT1A5CjPDnh6e8t21OfHmOcxo3bvSz7tHaeKbrTboiGznkE4PTHPFdD07WNLuE8qwvLaVk9PDG4OMdK6d5PBJYV/bsw4sbu/wDsfrpANppzkcMo4UI3wd6Dv/D1rBC8qFyR0arL0yBzqG7K+Q4bkRue1EqZ1fjlT2VTSJVjUwXQ4rdwYpR3U9focH6Uvl01Yb5raBfvkobC+XuCOhqyab4bu9Yk40ItbDO9w4wX/wCIq8aTY6fosKx6XADJtxTyjLE9xT7vS2cyVpuUVDSfA8kkcc+tSfdo8ZMbenPyHM07mstLtEKWkGMDHEwx/IU0nmXJllcvIzZbfLUqncmRvLjOW5Z32rHWZ16GqdIAu7lREqRoqEABmHM0h1OWKFSW5ZDA55ind1YkKTPMEU754txVb1KC1GcAOf4natOLvpGe9r2V+8u4HmPoyhY7Be/vQXCryOeHAC+n05JxuKciz42BWMAfLFER2SoMbD2ArVrQkrRsZCVZUdc7kk4Gaa6e95A6FRuhGCp3FOBbRDfhrcKqjZRVPtaZabT2i26P4o4EWDVRnGAJl3z86sxkiuLbjhkWRCNiDzrlxPXYY70Jb+LbbT7wRLdhN/V/DWeuNvuTVHJ17OiXUXHESOm9IryPzIzjGaa2OrWup24a1mikJG/CcmsSRIUK4+I0PxND1yEzlvj2x8yCHU0H4kB8qX3Q8j9DVUHwnFdf1XR/vdvdQOBwSRsPr0rj4Vo8o/xIeEj3FdLh3ufFmHmQlXkvsxj1cIqXiGQo5Cou5PXnWc4AArbL0YwgMD6eY61Go8tsg5U15dt+Rrf8u/Wny9lDKyk325c6bRnK4/SkOn/6m1OUOwNdDE9oXRM68XOo5CVU9+9THcbVpIAwGaOl10CdPicFR1+dbl8AueQpaj8Tqqnc0ZJ+VOg3JrxXidvyBrqeO3gkuJ24VA4m9q5h4p8X3d+5ispHtrUbDgOGf5mrB9od+/o0+NsAqHkx7nYfua5rPmW44YxkZ4VFbsOJKfJmHJlbvxX0TW+q39u4aG9uEI32kP7V1TQtUOqaHbzybSkFW+Y61W0+z53htj99CSuoMilfh+VWixs4dMs47WD/AE4xjiPMnqatuX6LSpexhAo4lXr1+VEKeBXkbmM4oawPmebKRsBgVvfN5duE6nnQt6WxNvyfiDWqme4y3LOTVX8WeNPuVxJbaWpedTgydF+XerHcSNb6Tdyxj8Xy24fbauSalE34coyVKjepjxqk2w6vwaSJV8X6/HfyXiX0iyuQXGAVb5ir34e+0y2vOGDW4Pu0p2Mq7xn59q5j0qF5gcrGpdvbl9amTjxa0yKmuz6BuLeC4h8+zZWB39JyDSxwyMc5yK4rpmualpM6yWd7KhB9UeSUPtw1crL7RzcXSjUrGMQHYtGx4l9/eubk4NL+pojP+y+QXTKwAJzUhhs1ka4lgCM27tGeEt88czS2G7tp0E1pMssTcmH9anlbzoGTPMbVkc1D0aZvfaOY+I7BW8SXcGlTPcrnzHab0lWO+PlWNO0G980PLcQQb5BOWOae6tpP/wCoPqFq3Dc8OHjY4D4/rS3SL1ri3d7hlEilhjkRjvXZw38kJJmW48a/kOUsI/JWOe/EjKwZcRAAEbjanNm8iYMpSZO6ek/pXMJtSaS/l8t5AEOOIH0j2o+w1y6tm3k8xM5wTv8ArSs3DeRdMOORKfaOw2VxDMAImwR+XkaPWub6Vrou3jK+mUOoxnB59K6OpGRg8681zeM8Fd/Z0cWSbX8SqePNPEjWl+F+A+XJj+E0L4e8D6ekkWoQu4lU4xnkQetXG9gW6tZYHGUdcUv8OSNFPLaSZyVDD3I2P9K3cLkW8DlPtGbNjSybf2PVBwB1xUxtIhhroLJjfgPLPv3+VZRlgTjPxd+3yoYzmVt+XSuphx6nzsw83n1k/wCrF1+2M4bvzQC7H0n0oOn0qQyvKCgzgjbApdEFjHmyOEjG+TSjV/EuSbfTFDMNi2dh8z/SqtfJ0gsOolNlgurmzsY/MuXDN/Cpqv6j4lkkylsgRTzAG/1quXDSvIXuJS7nr0HsO1a+bwxHhwo6UWPhfbLrkt+gm4nkmJaaUqDtjOTUQEKMNx5h6ncmhZDxEFiWb36Vhc5zsO3etk4FKEPJtjDI9q9kd6BL4UAsdqDvNVhsl9bnjPJRuTVfCWqHLsF3YjHvS7UNXtrKMtI4Hz6/IVUtf1m9MSkRS28T8pGyC3y7VUbq7llcl2YnqWOTVrGl77I6ZZdd8Yz3StDZgwxHYt+Zv7VU5ZXkPExJNRnfcCvcxyq0kgfZ6DU77TbtZbO6lidd1KtV68P/AGsanayquqRJdRciwHC1UGePzI/cbigiMHegcphKmvR9H6b400TXLc+TcpFMB/py+k1zKV1mmuShDYmYZHzrnoJHI4q5eE1LWXq5FiaPDKmiZcjqewqRSH4egrRfiyeVTXRxIwHWoewrUKXolB2ya24sgcX0qBmyf9orKNnc0c3omg21cpIQOtMo7ts4wMdqUIThT1NFpswrdhvoFoaR3OVGR+tTK6uuNs0vHKspso3rSmwfFHUbFQGZz0qaacKGYczsKELMowDgY3rx9US/M15Zxuts6CrS0jn3iiRpdYu3c5KED9FFV/wvCLnxDZowyvmcR+m9PvECFdTvwdsnP6ilHgx0j8SW/GcZ4lHzxW2lqVo5+F7ut/s6yH4Vd+bHYUDcNgYG5NTOcLzoOVst7VmfRr3sa6euLNd93aotTbMgHSiLMkpbqO3/AJoPUDm5Pagv0Zsfdgf3gOlwW/00PDj5DeqbJpM/DI1ugltyc8IOCh7DuKeSz+T4eklJ3ldj+rUbp68NjCpGNsmqm3D2h9Y1a0znt7pd5FIq/wCGyNxnhUjG5/WoH0XVeCRlsliVV4iZHAwPkK6RcjivLYdF42/kB/U1iZQwcEfECKt5qZFjSOIXAmMn4jAH/aMVqc8qc3dvwNIhX1Biu/saB4Bn4RmnaBPadqF5YSK9pK8fUgbqfpXQNE8Z2boi6nby28nV4PUp/wDadx9KoHB6c45VNYQNNcIB350q8M3/AGRapr0dekWz1uATaVOsrL8a5w1VrUfDZvJ1UeZbuT6yi7tUekwRWTiWEmOZTkMpwSauFl4iMRUakEaE4HmYwVrLeCsb3jZpVtzqlsUv4MX/AAlbQKEhzxAA4YN/FnvSmP7NpJD/AOqvExOwaIN/PaupLFHKoZG8xOgDUPNGUOw27Vz75ObEumPmceV+imaJ4Ii0K7S51C4ubiSM5U8ICD3wKusciyqGjYOp6g0Xp916GjnbI6Z3qC50y2kkM1rI0EndOR+lcrPyPnreR9m3Hg8V/A2iOWGBQyWnDq8c6nCjOT860k+/2ZJlijuIh+eLY/pW8GowXIUxOCwO6nYg1u/HpT6e9mTlqmmvQVM7SSkNkYPKovMWFWeQ4AGTmoL+9SHjmYYWkUpn1eTMpMdrz4erD3rt+zkvEp0/o9eX1xq8vBCSlsDguObey9vnUohjtoljiAAXmanCrDFwoAANhQ8h502J0LrI7f8AgLKitxM2QKS3+tW8BKwqZZBsMch9a94gvWytrA3qf4iOgqsXWBJwLyXatcT0EgyfVb6ckI8cS+25qMT3jkFrmRv/AHYH8qDIwK8CR1NHpBDRby+UYDBh771CmqXcE5l+6QmQfnaPJ/nQIkYDZj+tSx3cqHIcn571HKa0Wmx0/ja7lgNteafZXEBGCjJVFvLcPM5ijKoT6VJyQO2asEk0U4/HhXP8SbGhvuDyyf5ZiygZw3SlfCl6LdN+yuPDInNG+m9YlUAgcm7U5lgljbEiEGtbmAgr5gR8qGypyAD37H2oXJNhXh7wdq+sXEfl2zxWxI4ppBgAf1qu+JNJn0fV57OdfXG2Nuo71YtP1TUtNIexvZkUf9suSKI8RaiviG0+83DBdRiXhPox5i/PuKU1W/8AA/46/wBKAOdXzwxH5emIWHME1SoYjLcLGg3ZsYroFvG1vZRxgHIAGKbiXYnJ60RXCfisx3FDMeo61NN50cmAjFOu1QyjfiHLselObIjUbkVuuOLHQVCHHPvUkQ8wjFUgwiIcTZ/SjahhTH0olI3c4RSfkK6GGdTti2SK3oB64qUDYd6ylhKQPM4UXOTk7/pU7NaWa8U0ig4/Md/0pzyJFHQCc9akjPFHjPI0DMSu6k8qzbT+VL6iSp51wa9GqX2IPFtluLlB8S8DfPpXPXZra9WSM4YMGU117VIVmVom3jkG1ct1u2a0u3t5xh1OVYciOhps2qnRneNxbpemX7S9UGpWaSDHHjDjsaLbl7VzrQNRksLniXdeTL/EKvVpf295FxQShiOY6j5ik2tGiXss+mgtwseQWgdUYrLIewNG6LKGi4QeYoTWly0mM4Kn9qCl/Eyw2srTKhq//pWlwr/3CpP71Yo04Y1XlgAVXtR9Q0dRy4RVjHzoKNiIZR+Mjdgf6VETvippcAk89qFjbiQGgLKR4jtBFfzYHpkIdfrzqvSRcRyOdXjxYgNvE4A484FVC4XhfK8j+9bYflCM76poClHAoUdedF6TG6yB84UVoVBYZG9F2h9JHY1ei0PrPJQN1zgUZqX4s2nQjbzLhQR7AE/0pdbSJEis2yA88ZxTeIxz6jYOjqyiQkMDkZ4TSsg5f1LNGZYiGt5TE/P2PzFMLbWwD5WpwlRy81Nx9aCXkKzgEEEZ7isNRNe0TbQ8+7xzJx2sqSKexoWdJ1j/AA2YMO1J0heCTzLSRoW7A7H6UXHq1xx8OoRgpyDx/vXPzfj5ruTTj5dT1RpNf3if6i74+lI5ZX8wuwIYnPEoxvVsWOK4Um3lV1/hPOkmo2bI5VFwMZOelZJisFbRsWScq7AzfNMFjufXGDnIp/acE0X+WBkGMnhGaqZi4nxnG/Oi7WaewfzIZmRh1BrpYeZrqjFn4KydosZsbqcgRQSk5/hI/ehdZsk0yya41O4htV6BnyzfICotR8d31vpLG0hiubo7Bydl9yOtcnv5b/Vb9rvVbh55WOcseXsB0rpYaq+zHWGcfQ8tj94nluByJJXPbpSo4Oc8zT23Ty7Xg6iM5/Sq8fauj6M0V5NsyW2wTn2rXNeA7862FRDTXBOazw7VuGxW4yeYBpinZWyLG9O9Ki4LbiI3Y0sSLzJFUAjJp6qlECqMY2p2PE2DTPS28U0Z4h6u9V+8tXtSxjDFHyJFB5jpVgwc786wyB0KMMg1MnHVf+gqtFL8tmDMqngB51Hkg7U71K2e1lEkY4ol2wOQFLZ4MMXC4HI+x7fpWKocvTG72LEK2l994eLYfCV3A+Yp9DrVpNjilAalqxlidsKOpqJ4Yw26ISOuKWtr0RpP2WFL62Oxmjz/AMq38y1kHxIfrVbWKIOreUrHseR9qfWmmabqMR+7IYpB8Sk8qt3r2UsW/RIbe05+j9a8PukWMOm3QtS3UdFNsCSkgx1DEqaUGBATlT9TUWTXaJ8bXstg1S0hG3lD3NQXHiiNFxCskv8AxHCKrRRBkhRXsCrea39l+KGVz4gvplxHwwr7c6WSySyktJIWJ6k1lgTyG9bROY2yy7fLalum/ZekjuXnCUZ6io3ffH7VFH6QQKw7BFJcgKOpOAKW62N0T+eWQI3TkT0qreIIDrF6sEIUNGpIf2/8mmj6vYgFRcKW5bZIoTRdlu7l9hkAE9sVU7QNvSKJNHJaXLRyLwyIcEUfayMzrNbOY5k32rGsyx3eoSyKxEeQokKnH60CVktpcg4I5MOVOVKuitNdnTPC+rm64o5AI7lNyo6+4qwuBMvqOem9cmstQV3Uu5hmU+mRdqcR65qtiTxSi4jJz69z9DQudBrT7GF4pV7IN/234f51Yc7H2qsf4jFqQV1BRuLLp2+VPpJQYgwbIIpDQaRosgeRlzk4qKRvLjxyNCxSESPIOZ2rJkaRsnlS2WxD4iuS97bWo5CNnP6gCqzc5EzjO2aYXU/3rxRdsN1iQRD9zS6c8U7noTW3GtQjI3vIyOjbWPBCjnjJoMftRKzcEZJwWO+KMNDi3lWJhvyo1bCG4dbm1keCUeoBDhSe5FVdrmQrgHHXIqS2vri3mWRJGOOYPI0FTsNWl0zpWj3E0sRjuinmjqvUUezKqlmYADckmqvpWqx3ESTKeGRThlPSgPFOsLqF9HpdtKfu6r5lyU5nstZHjew60u0Wu61WwtgrTXcS55erP7UTa3UN1EJLeVZEPVTnFVK306H/AA6O4W2RYXGQCN8UVaI+myWUkaxrazEK4zuC3Ko5jXTDeK0ttFoVVWQOuVbuu1M45EuISWXzOHduH4lHfHalvflW9tdR2kvnSKG4QeHPfvWW8SsqLcmmoaYkoaW3dXHPbmKrl4XgOMHANQat9oEdtfvGLYS4PquIyFOf2NT2XiHTdbypcCXHJtifpWS+NeP+WujZjzqutiyYxniIAH8qgEMTseMerI4SKP1TTzGS0RNAWpxcmF92C8ZFbuI1VJJiOU/CG2FuBwOO6n9qrKQvLllHpp/qFylrbtK+5G2O9JbDT9R1f1R4gt+m3OuvdqVtnK481Xog4CpI5/I1gk55U7XwnMoz96Qt7p/as/8ATt6gGHt2HvnelLlR+zZ/xsn6EvEBW+c8qmv7C8tCWezYx/xRnipbHcBifLbcc1OxH0rVj5Ev0JqHPscafIiMWkOSOQpkl1xHbFV1JQ/saP0/eY/KtuO0/QDQ8j9QyeVedFzt/KoVkI9xUgkDVp9iyN4iAduIHYjvSe5tFin8wK3lMcOinGRzxn6U+JIPLbtWsyQzoUJ3Yb555pd4ppdhTWim3MTRruuFbcAHOBQmcbHlyzVwn0t0jJAkKAduVJZbe3YYmEkZ6nhrBk4+n0xuxUN+fOt4pZYJhJCxSQfz9jRJtoCeGO4zjlla0+6dpEPsdqzVH0yJln0TU4tQURyYjnGxRuTfKmOo6PZSw5MZWQcyvWqG9u/ECPSw6g5BphDrN9GFjlZpFXYBzv8AQ1kvBXuTRGZeqDpfD8fFmNhj3Faf9NOy5Hl5/wCWKcWs7yQLJIpQHnkVOz8Q2rJWW5ejQsUUtldHhi5Pwqv/APKtofDN+0ypFbiRm2AG+asCMeIcIyfanunTyWihlbEp2LDmKH/k5F6J/wAeCMzCJHdyAiDJJqu3Vy18BdX3EtrnEUAPP3Pc0zvUNzaeUhOJGUNj+HO9Q+I7QebGVGEXAAHQVtRmp96F76lbBOAQFVHTAxTvSZILvTjAu4VcsO4pPq1lH5AWJQrKu2OtQ+FZ+C8ljJIaSMr8sVc35EzYnKD7+NGhaIKoRs5AFVAemOWNtxGSN99qeapqYtZ5ICjPImwPQ0mVCI24t3c5P1oFvbG05crRBZ2tzc2/mrGSBucCiLLUJbY8DeuLqp6fKrZqJSxsYoIFEcjIBkDGCds0lubCJ4GKoAw3UjY035EumJiHa2je3ltZ2DwSeTL+hoySa9jXHCJk9m4Sf6VVHiZHZT8SnHOibW+vIuJYHZgpwQRnFE0mRVr2WRNW4UxJZXKt7AMKgfxJaRlkEcxcDquMGkdzql3JGUYhP+IwaWuzSHluetB8SKqyeyl4DNMfjkYsfrWvXfnWAMKB2rwxin/4K19nq8ee9e+VRSSAZzUZZl3wTW0TB0yDS+eQtyPOtoJDGjAEYPOh8iDa1u2tJC6EYxgjoam8JwZeW7n5yMWye1IWJIOOZFXDRIglpbpwjdRt3qn2FL7SHdjFI1rFm4jtYGOYkf1MQTzx0oy0tI7vWHEpd1smBUZ9JcjmR7Ur1SZdPtUS3jU3UxEUS9ydsfKp31u10S0MELfe75t5GB2L9cn+lZXNGvJklz4r2Wa9u4bOBpZ5AigdTiqHr3iKW/LRWnFHDyLHmf7Utvb251GbzbyQv2QbKv0oSRgoPermNexDBJFBoZ4gN1ypHaiGbck1BI2OY501AMbaTr91Zuizsbm3XnHIefyPMU3028F5NfX8SmNCRGiuckAe9Uw5zxdBvViilGn+GkV9nbLGix45VeWheW6qfDZukr6trsdsTsP0A710K0tEt4FihGI1H1Nc8+y//OeJZzIf+3kfrXV54vLcqORrLysjp6Ohw8aU7BCmEz07Vo3tRcqcJHvUTplSdqyG0DcYJ2z7Uo1TRLLUVJkiCyjlInpYU6dcHFQsN6Oac+gKhV0zn+paZcaYwMxMsPSUDf6itLS/jtZA0pyvLI3q8XSrKrI6gryIqo6toZhjMtuOJR064rpcfmNe/Zz83G13Po82uRE4hQn3Y4FR/wCKSu3CrxqeyAsaUxLEJMsnFjmDTOFowAYlA+QrdGTJl90ZPFIdWV8FjAlAdu5owXiN8LBD7DFJFZ8bGs+rbDHPXNbZppafYHjseieTPpkLY355rW8gjuMSSjjJXHPBB+lBSXNxbrBFNGFQbqwGCwPc0crq8bEqTt6TnlVp+RNaE11pJBEtp8anIJUDfnSqeOdXZmPqO52q3OW8tQzZU7gA8qFmt45k4WOCeuN80FYJrtFqisJG+RhUz+lFFZM5aH9DmtrmJ4ZMMOWwI61LbS5GCd6XOJLpl7J4NR8kKoYEdVNZk1VVbKwgb777Gorq1SVcsPV0I2NKJoTETxKzLnY5JxWTPxk/aGTlqfRZbTxBbQtxSW8hY7Agg4oz/qS0IysE5+a4qksnF6kOM9RUTGQDHHkDoc1irix9ocuTZe9IuX8wBjnBp1qQE9swI9SfsdxVQ0y/jWZfN9OetXFXSaFWjYMrxnl7H/zVIHP1pim2Zb+xJLATIzIR8j/8VW5maz1ViuVK4Jx0qfVkuLK7eS0kZFk9TgDIBpcbedsu+WZtySedUp09jHk8pSYTrbrJqUrryOP2qCF+KaIORjiH71vJZS8HGSCT0zuaGO2KsDXQ71LUBeXrsMBI2AHuB1qW4mjht+JmG45d6rvEQcg71l2L4yScUNTt7GxfgtGxJJ4m+Ikk0boi4vJcciwP8qB/MKY6CeO4mP8ACaJ+ha9lkFvC7ZeNG+aiqjrUyS38giRVRPSoUdqt7N5cDtncITVCkOWJPMmiw+9sHIY671rkcWNq8xwpPWhDxvKEj3Zj/KnN6FBMkgQZ6UBLOGc4Gwpn92Zx5cY4nO2QM/oKaWXgm8uQry8Nuh5lzlj9ByoLrXsi7KgRkklsCpYXUnCK7/8AFc10yx8D6ZBgz8U7j+LlTyPSbC2jCxWsQHypTypB+LOPcH4TN26EbirzpKgtbD/YD/Kp/F2gQSWEl3bgRMg4mxyx1pbpd4gWF0w3CmMZps0qXQKWrTFniW4e51woj8KW4CjHc86FjUIoGKjuHH3y4kZgS75JrRrhVBIyTQtBeXewl5ABtzoWWQbljj50K9w7nY4qE77nc1XiR0TPPjZOfc1CMyPvmtQpNeu2MMOV5nbNEDsIWW3jKiRgFU8TdSfag9W1V70hVBWJeQpaSSSSd6xU8n6K0W/7Mbr7v4niOcBhg/rXdZ1XAZhkcq+atCuTaapbzA44WH719L2si3FpFICCHUGsXIXezbx6/johnt+MAp0FAsvC2HGKbspA9I3rElv5i+pedZzXNaEs0fEhKHJG4oNiOGncti6qSnqpNcxtHKQRsdxUQTf2Buqk1Cy5+dFsvFuCKgdCCT0oiFe1bREm45rUcEnMr0aq5xPbTYYEEc1NdAOPrSzVdMjvVJ+CUDZu/wA61YeQ4fZlzcdV3ImtpkkAK/UGpSTgKdse1LRC9pMY5QVcd+Ro+Jw4zjO36V38GVZJ2c1rxemTvl4lZnLsNgD0FG2MqCMB2Ytk5HIY6b0GmWX8QHgQY2xnetlfPCqoFwMEr1960qSNbQzDR8iSGxyIrDKjFhI3BtkEDrQwbjwc+sbGpGkd2LPvk5JpvhtAaI3VJVKyKD3pXdWj254kPHH37U3KhWV2yAee3SiVtvMRTkcDDcUFwmv9IIrd+NcZrEseN8UZewJauWgyUTcjHKg/MMvryMUh9rTLTBHgjJJA4SeeKHeIqc8xR7qSuRQ75xWW1osg5A71cvCrH/DogeryAfoKp2Djerz4Xi4bSxXqVklPy5Cufs18nqOyDUbYlCSMHFKgmXGRnO1WzUIOPYDNIghM8sKgBU3kbt2A9zQPoz435dIxJGrRhVUcK9cdar11Hw3M0fYcQqxE7N2B2qv6weHUcJtlN6RL2zo5IUwgA89uVYztWz9hyrUDO1PMpuvTFMvDK5ad+hbH6UqmfyoSVHrOygdTVj8PWvk2ig8zgZoafRJ9jaVC1pNtvwEVR7uLyZeHOcjIroMpjt4WeRgEUZYmqLqkgklHCpGBtntTMD6YrLvyQvlDEDHKmnh3R5NTZ3QiOJTwtIf2FK5SRExUZIGw710LQIDZ6RbwkcLcALD3O9XlrxXRJXl7GGmaTa6cn4KcUmN3bc0wDDkTihBMcAZ39q3AyMuMDpmsjbfsYloldifgyTWUjYgF2BrwwByqGS8QEqmZGHRRmhLQh8dXvl2C2MRAeb1P7KP7mqLG9ykJWJcZ5kCnmvXLXupO3VjwgdlFRLEFUk7DG/sK2Y50jPV6ZXBuN/3rVhsRRN6PxyQAAeQqDFEWiEfzrABJqcjPSsYwdhioQ1VcV6SNZFKsMg1tjtXiN6hYpubR4ySoLLQ3CeoNWDHfFYjt/vcwht4RLKTyA2FC1oi7ECkqQRzG9fQ3gO++96FArkccYwRmqVpHhSxghX71EJp+bHoParb4fSOx1FYbaNUimTZVH5hWTNSpaNuHFU9sto2OakjP69qhUnPCRv2olEIGetZWPRtjYUJe2cdwmGGDzyKLB2rOP0qF7Kpd2TQMN9qEK56Crbd26yA7ZNJ5bMHlse1EmEmV28tyU4o9nXcYoe3mE8ZJGGGxFPZ7ZkByNu9V67U2t2JU+BjvijXfRG9dkWoWMd7HwvgOORqtP5un3BSc7A4Bxzq4ydGHIjY0NfWcd5AVkXfoetaOPnrE9oTmwq1texMrh0yuMGvAkcjilzGXTLnypsmJjhWpgCGAZTkc69Jxs85Z2jm6cvTJ1k4WVu4waJ4vSMcqCXcFevOiIH4k4TWuWC0TlmOAdwOQPSirXKo8jnCoNh70HyPuKnuW4LKKIHeRuJqKgWj0p/DAbcvufl0pJNCbeXyxsrbimBulkmCE4JOwpzB4dutR0y7mit3MkIDJtz7j9KzZqnW/0Uk0yuqihNzmh5Yc5I5HpRHlOh/FBXoa1zjON6GpVoNn/9k=','Suka Tani','081222344620','Lify N.A','$2a$10$ARSL6huZAJcDh62uEXkXpOIndo3ZfpSYHaXISTpypxG2uHQLfwzr2','lify'),(2,'2026-05-02 20:38:45.140305','2026-05-02 21:52:53.810189',NULL,'Suka Tani','081242324621','Ahmad R','$2a$10$.y0tDGM2/.iAGSAMIps7bu5qdY5XUZ0l14SLxwe7NWIravTO2PxS2','ahmad'),(6,'2026-05-02 21:53:52.945535','2026-05-03 20:44:35.639585',NULL,'Makmur Jaya','081245451234','El ','$2a$10$zn/5P4VUQgvci6nxKYkvZeZPV1VHUrjovzIv7KkD0/i4cYyalvui6','el'),(7,'2026-05-03 20:45:11.381564','2026-05-09 10:20:20.451933',NULL,'Tani Makmur','081629384303','Salma','$2a$10$KplUbY7DoQDrVh7dd04NR.syEQ6o96LTregdcZgEZg44mF95Aj0kq','salma'); /*!40000 ALTER TABLE `petani` ENABLE KEYS */; UNLOCK TABLES;  -- -- Table structure for table `satuan` --  DROP TABLE IF EXISTS `satuan`; /*!40101 SET @saved_cs_client     = @@character_set_client */; /*!50503 SET character_set_client = utf8mb4 */; CREATE TABLE `satuan` (   `id_satuan` int NOT NULL AUTO_INCREMENT,   `created_at` datetime(6) DEFAULT NULL,   `updated_at` datetime(6) DEFAULT NULL,   `nama_satuan` varchar(50) NOT NULL,   `is_base_unit` bit(1) DEFAULT NULL,   `simbol` varchar(20) DEFAULT NULL,   `id_komoditas` int NOT NULL,   `konversi_ke_base` decimal(15,4) NOT NULL,   PRIMARY KEY (`id_satuan`),   KEY `FKd9b6pl46xdcb396svknwpf4q9` (`id_komoditas`),   CONSTRAINT `FKd9b6pl46xdcb396svknwpf4q9` FOREIGN KEY (`id_komoditas`) REFERENCES `komoditas` (`id_komoditas`) ) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci; /*!40101 SET character_set_client = @saved_cs_client */;  -- -- Dumping data for table `satuan` --  LOCK TABLES `satuan` WRITE; /*!40000 ALTER TABLE `satuan` DISABLE KEYS */; INSERT INTO `satuan` VALUES (30,'2026-05-03 21:00:16.839133','2026-05-03 21:00:16.839133','Karung',_binary '',NULL,33,1.0000),(31,'2026-05-03 21:22:13.128084','2026-05-03 21:22:13.128084','Kg',_binary '',NULL,34,1.0000),(32,'2026-05-03 21:22:13.132091','2026-05-03 21:22:13.132091','Karung',_binary '\0',NULL,34,1.0000),(33,'2026-05-03 21:27:16.048803','2026-05-03 21:27:16.048803','Liter',_binary '',NULL,35,1.0000); /*!40000 ALTER TABLE `satuan` ENABLE KEYS */; UNLOCK TABLES;  -- -- Table structure for table `stok_pangan` --  DROP TABLE IF EXISTS `stok_pangan`; /*!40101 SET @saved_cs_client     = @@character_set_client */; /*!50503 SET character_set_client = utf8mb4 */; CREATE TABLE `stok_pangan` (   `id_stok` int NOT NULL AUTO_INCREMENT,   `created_at` datetime(6) DEFAULT NULL,   `updated_at` datetime(6) DEFAULT NULL,   `jumlah_masuk` int NOT NULL,   `tanggal_panen` date NOT NULL,   `id_komoditas` int NOT NULL,   `id_petani` int NOT NULL,   `jumlah_base` decimal(38,2) DEFAULT NULL,   `jumlah_input` decimal(38,2) DEFAULT NULL,   `satuan_input` varchar(50) DEFAULT NULL,   `id_satuan` int DEFAULT NULL,   PRIMARY KEY (`id_stok`),   KEY `FK16boymwg8qvn98kb0sn7dl8g3` (`id_komoditas`),   KEY `FK6rspvfv4mb7jslmby8yejaivy` (`id_petani`),   KEY `FKic0gxqi5k4ts8q3jrpvn01f59` (`id_satuan`),   CONSTRAINT `FK16boymwg8qvn98kb0sn7dl8g3` FOREIGN KEY (`id_komoditas`) REFERENCES `komoditas` (`id_komoditas`),   CONSTRAINT `FK6rspvfv4mb7jslmby8yejaivy` FOREIGN KEY (`id_petani`) REFERENCES `petani` (`id_petani`),   CONSTRAINT `FKic0gxqi5k4ts8q3jrpvn01f59` FOREIGN KEY (`id_satuan`) REFERENCES `satuan` (`id_satuan`),   CONSTRAINT `stok_pangan_chk_1` CHECK ((`jumlah_masuk` >= 1)) ) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci; /*!40101 SET character_set_client = @saved_cs_client */;  -- -- Dumping data for table `stok_pangan` --  LOCK TABLES `stok_pangan` WRITE; /*!40000 ALTER TABLE `stok_pangan` DISABLE KEYS */; INSERT INTO `stok_pangan` VALUES (11,'2026-05-03 21:27:37.204553','2026-05-03 21:27:37.204553',2,'2026-05-03',33,7,NULL,NULL,NULL,30),(12,'2026-05-03 21:29:08.140356','2026-05-03 21:29:08.140356',200,'2026-05-05',33,1,NULL,NULL,NULL,30),(13,'2026-05-03 21:29:52.825572','2026-05-03 21:29:52.825572',300,'2026-05-02',34,2,NULL,NULL,NULL,31),(15,'2026-05-03 21:32:19.193131','2026-05-03 21:32:19.193131',400,'2026-05-04',33,2,NULL,NULL,NULL,30),(16,'2026-05-03 21:32:40.655676','2026-05-03 21:32:40.655676',200,'2026-04-29',34,1,NULL,NULL,NULL,31),(17,'2026-05-03 21:35:16.480103','2026-05-03 21:35:16.480103',3,'2026-05-13',35,2,NULL,NULL,NULL,33),(18,'2026-05-03 21:36:25.575478','2026-05-03 21:36:25.575478',250,'2026-05-01',33,6,NULL,NULL,NULL,30),(21,'2026-05-03 21:49:14.774445','2026-05-03 21:49:14.774445',200,'2026-04-30',33,1,NULL,NULL,NULL,30); /*!40000 ALTER TABLE `stok_pangan` ENABLE KEYS */; UNLOCK TABLES; /*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;  /*!40101 SET SQL_MODE=@OLD_SQL_MODE */; /*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */; /*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */; /*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */; /*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */; /*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */; /*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;  -- Dump completed on 2026-05-30 13:37:06
